[2018-04-09 19:33] vansh1sh opened #350 "Error connecting to blockchain node"
Hi, Please help. I'm having some issue with ```embark run``` command on the embark_demo example:

The ```embark blockchain``` seems to work properly, but in ```embark run``` its unable to find the node

Here are the screenshots:

<img width="1077" alt="screen shot 2018-04-10 at 12 54 58 am" src="https://user-images.githubusercontent.com/16793070/38518250-0c56dcc2-3c5a-11e8-9e37-454d28525fe0.png">

[2018-04-10 20:09] iurimatias commented on #350
@vansh1sh do you have the deployment config specified in ```config/contracts.json``` ? something like:

[code]

[2018-04-10 20:09] iurimatias commented on #348
@vansh1sh do you have the deployment config specified in ```config/contracts.json``` ? something like:

[code]

[2018-04-10 20:10] iurimatias commented on #348
@Ambika-Bhat see above

[2018-04-10 20:12] iurimatias commented on #349
@kylerchin are you running embark 2.6 on an older embark project? You might need to update ```config/contracts.json``` and specify the deployment config? something like:

[code]

see https://github.com/embark-framework/embark/blob/master/demo/config/contracts.json#L7

more info can be found in the relese notes for 2.6.0 https://github.com/embark-framework/embark/releases/tag/2.6.0

[2018-04-10 20:13] #344 closed

[2018-04-10 20:45] vansh1sh commented on #350
@iurimatias Thankyou so much for the help, it did solve the error but now I'm having this error in my project for some reason:
Any help would be highly appreciated

<img width="567" alt="screen shot 2018-04-11 at 2 11 42 am" src="https://user-images.githubusercontent.com/16793070/38582565-cf446212-3d2d-11e8-8dc3-81b48623da0e.png">

[2018-04-10 21:14] iurimatias commented on #350
Hi @vansh1sh , it seems you are using embark 2.6 on an older project. I'm guessing this time what's missing is the dappConnection property:

[code]

[2018-04-10 21:15] iurimatias commented on #350
@vansh1sh for more information please see the release notes https://github.com/embark-framework/embark/releases/tag/2.6.0

[2018-04-10 21:29] vansh1sh commented on #350
@iurimatias Thankyou so much for the help.

[2018-04-10 21:41] iurimatias commented on #350
You're welcome. If you need any further help don't hesitate to open an issue or talk to us at https://gitter.im/embark-framework/Lobby

[2018-04-10 21:41] #350 closed

[2018-04-13 11:45] #349 closed

[2018-04-13 11:45] #348 closed

[2018-04-13 20:01] RamiroMoreira opened #362 "issue when deploying a contract on execution"
I just followed the documentation, and tried to do:

SimpleStorage.deploy([100], {gas:800000}).then(...)

but SimpleStorage.deploy([100], {gas:800000}) is null, i don't know if i do something wrong.
I'm tring to create a function in js that deploy a new instance of a contract every time it's called.

[2018-04-13 20:05] iurimatias commented on #362
@RamiroMoreira is this with web3.js 1.0 or web3.js 0.20 ?

[2018-04-13 20:13] RamiroMoreira commented on #362
i think it is 1.0.0-beta.22

[2018-04-13 21:00] jrainville commented on #362
Hi @RamiroMoreira. Currently, Embark doesn't have a deploy function on Contracts imported like SimpleStorage.
However, you can redeploy a contract as many times as you want with the following steps:
[code]
After that, you can keep contractObject to redeploy using different params.

You can find the Byte code and ABI in `SimpleStorage.options.data` and `SimpleStorage.options.jsonInterface` (or any

[2018-04-13 21:04] #362 closed

[2018-05-03 18:26] RamiroMoreira commented on #310
i have the same issue, and that solution does not work for me neither

[2018-05-05 09:09] pkrasam opened #398 "error "embark new TokenFactory""
<img width="692" alt="error_embark_new_tokenfactory" src="https://user-images.githubusercontent.com/4514654/39661608-c27d3c70-5097-11e8-8760-d5f95fa9a05e.png">

[2018-05-05 12:34] iurimatias commented on #398
Hi @pkrasam

Let's try somethings so better understand what's going on.

1) What version do you get with ```embark version``` ?
2) did you do ```npm -g install embark``` ? was there any errors?
3) what happens if you try ```npm -g install scrypt```? (and then re-run ```embark new```)

[2018-05-05 12:34] iurimatias commented on #398
@pkrasam looking into it more, it's likely an issue with node-gyp or the gcc version in your system. see https://github.com/barrysteyn/node-scrypt/issues/108

[2018-05-07 12:05] iurimatias commented on #398
@pkrasam has your issu been solved?

[2018-05-07 12:26] iurimatias commented on #310
@ConnorBP @RamiroMoreira are you still experiencing this issue on embark 3.0 ?

[2018-05-07 12:27] iurimatias commented on #308
Fixed in [3.0](https://embark.status.im/)

[2018-05-07 12:27] #308 closed

[2018-05-07 12:28] iurimatias commented on #309
fixed in [Embark 3.0 by Status](https://embark.status.im/)

[2018-05-07 12:28] #309 closed

[2018-05-07 12:28] marclar commented on #315
Sorry, I must have lost track; thank you for the update, @iurimatias

[2018-05-07 12:29] iurimatias commented on #305
We added windows support in [Embark 3.0 by Status](https://embark.status.im/)

[2018-05-07 12:29] #305 closed

[2018-05-07 12:30] iurimatias commented on #307
This was fixed in [Embark 3.0](https://embark.status.im/)

[2018-05-07 12:30] #307 closed

[2018-05-07 12:32] iurimatias commented on #300
This should have been quite improved in [Embark 3.0 by Status](https://embark.status.im/)

[2018-05-07 12:32] #300 closed

[2018-05-07 12:33] iurimatias commented on #297
[Embark 3.0](https://embark.status.im/) is using Whisper V5 and should not have this issues (with geth)

[2018-05-07 12:33] #297 closed

[2018-05-07 21:40] iurimatias commented on #310
@RamiroMoreira just to confirm, are you connecting metamask to the embark node?

[2018-05-10 20:01] iurimatias commented on #310
@RamiroMoreira are you getting in a console an error like " Error: No "from" address specified in neither the given options, nor the default options." ?

[2018-05-11 11:58] iurimatias commented on #313
please note that in embark 3.0 the versions are located in embark.json by default (but still possible to override them in contracts.json)

[2018-05-11 11:58] #313 closed

[2018-05-11 18:44] iurimatias commented on #310
@eschnou @ConnorBP @RamiroMoreira This should be all fixed in the latest release 3.0.3 (relased just now). note that you might need to reset the account in metamask with "settings->reset account".

[2018-05-11 18:44] #310 closed

[2018-05-12 02:02] iurimatias commented on #311
the miner changed a lot in embark 3.0 by status, please give it a go :) http://embark.status.im/

[2018-05-12 02:02] #311 closed

[2018-05-12 02:03] iurimatias commented on #276
closing this process completely changed in status embark 3.0

[2018-05-12 02:03] #276 closed

[2018-05-16 10:43] rayhvh opened #416 "P2P Whisper. Parity?"
Hey.

I am running embark 3.0.2 with embark simulator 6.0.3 ganache core 2.0.2.
However
![image](https://user-images.githubusercontent.com/7458738/40112450-4788c986-5906-11e8-9ff9-3a80c039ea1e.png)
I can not get Whisper to work. Is there any way to get Whisper (v6?) to work.
Ideally I want to use my own private - parity node. I had embark connect to the parity node but it was unable to deplay the

[2018-05-16 12:35] jrainville commented on #416
Whisper works well when using `embark blockchain`. I never could make it work with `embark simulator`, not sure why, maybe @iurimatias knows.
Give it a go with `embark blockchain`, it should work.

[2018-05-16 13:10] iurimatias commented on #416
It will work with Geth (embark blockchain), not sure about parity, we'll need to check. @rayhvh will get back to you on this.

[2018-05-16 19:36] iurimatias opened #420 "Add Spanish Translation to embark"
### Request type:

_Translation_

### Description

Translate [es.json](https://github.com/embark-framework/embark/blob/develop/lib/i18n/locales/es.json) to Spanish.

[2018-05-16 20:04] iurimatias opened #421 "Add Spanish Translation to embark"
### Request type:

_Translation_

### Description

Translate [es.json](https://github.com/embark-framework/embark/blob/develop/lib/i18n/locales/es.json) to Spanish.

[2018-05-16 20:04] #420 closed

[2018-05-16 21:12] status-open-bounty commented on #420
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x2a1f1e5b06497eb354b99dfa2301084d6c68ed3c203cd30446a1605f78c4bcf4](https://etherscan.io/tx/0x2a1f1e5b06497eb354b99dfa2301084d6c68ed3c203cd30446a1605f78c4bcf4)

[2018-05-16 21:14] status-open-bounty commented on #421
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x705fb6e703c9169841bd83183c25649a0e815d7914a3e6c3d2769e35cae5a95a](https://etherscan.io/tx/0x705fb6e703c9169841bd83183c25649a0e815d7914a3e6c3d2769e35cae5a95a)

[2018-05-17 08:51] ben-kaufman opened #425 "Embark doesn't support .vy files (Vyper)"
The Embark framework doesn't seem to support the official Vyper contract file extension which is ``.vy``. It only recognizes the ``.v.py`` extension.

[2018-05-17 09:17] rayhvh commented on #416
@iurimatias  that would be amazing. So i need a full-geth client. I will try that now. However our project is parity based so that would be even more awsome.

[2018-05-17 12:52] ben-kaufman commented on #425
Thanks, I also can't deploy Vyper contracts for some reason, and I get this error message as well:
``Error Compiling/Building contracts: Solidity errors: No input sources specified.``

[2018-05-17 15:50] jrainville commented on #425
Fixed in 3.0.5

[2018-05-17 15:50] #425 closed

[2018-05-17 18:45] natachadelarosa commented on #421
Hello!

I would like to work on this bounty!

[2018-05-18 14:13] ochoacabriles commented on #421
Hello!

I'd like to work on this bounty! I'm native Spanish speaker and I have experience working with translations. I'm also a nodeJS developer, so I'm comfortable working with JSON.

Regards!
Rafael

Hola!

Me gustaría tomar este trabajo. Mi lengua nativa es el español, y tengo experiencia trabajando con traducciones. Además, soy desarrollador de nodeJS, por lo cual me siento cómodo trabajando c

[2018-05-18 21:45] #421 closed

[2018-05-19 08:28] nnccyy opened #443 "error installing embark"
Can someone help me with the error in the attached file? Many thanks in advance!

[error embark.txt](https://github.com/embark-framework/embark/files/2019268/error.embark.txt)

[2018-05-19 10:41] iurimatias commented on #443
@nnccyy from the log it looks like you are having issues with scrypt and node-gyp in windows.. See the troubleshooting section [here](https://embark.status.im/docs/troubleshooting.html#node-gyp-problems).  And the detailed installation for node-gyp [here](https://github.com/nodejs/node-gyp#on-windows). Afterwards check if ```npm -g install scrypt``` is installing without the errors above, if so th

[2018-05-19 13:02] nnccyy commented on #443
Many thanks for your help, it has been installed succesfully!
FYI: The problem was caused by the installation of the newest version of Pyhton.

[2018-05-19 13:02] nnccyy commented on #443
@iurimatias
Many thanks for your help, it has been installed succesfully!
FYI: The problem was caused by the installation of the newest version of Pyhton.

[2018-05-19 13:15] iurimatias commented on #443
Glad to hear! :D enjoy If you have any questions don't hesitate to join us at the [gitter channel](https://gitter.im/embark-framework/Lobby)

[2018-05-19 13:15] #443 closed

[2018-05-20 01:10] drasko opened #444 "Installation fails"
[code]

[2018-05-20 10:51] iurimatias commented on #444
@drasko we'll take a look at this and release a patch if necessary. It seems t obe related to node 9. are you experiencing this issue with node 8?

[2018-05-21 12:59] iurimatias commented on #444
@drasko I just tried with Node 9 and it installed without a problem.

do you get any similar error installing something like ```npm install -g web3-providers-ws``` ?

[2018-05-21 16:37] drasko commented on #444
@iurimatias it was my environment.

After fixing `npm` permissions as described here: https://docs.npmjs.com/getting-started/fixing-npm-permissions it worked!

Thanks!

[2018-05-21 16:37] #444 closed

[2018-05-22 21:00] PaulRBerg opened #450 "Fatal: Error starting protocol stack"
Successfully ran `embark new TokenFactory` but if I do `embark blockchain`, I get this:

[code]

Full log output [here](https://www.dropbox.com/s/lb189m2xn7u5mlv/embark-3.0.5.log?dl=0).

[2018-05-22 21:42] iurimatias commented on #450
hey @PaulRBerg , can you do ```rm -rf .embark/development/``` and retry ```embark blockchain```, do you still get the same error?

This seems to be an issue with geth and the underlying os (see [here](https://github.com/ethereum/go-ethereum/issues/16342)). You seem to be on OSX though and that should work fine. Is there possible permissions issues in the folder you're dapp is at ?

[2018-05-23 06:35] troydo42 commented on #450
I have the same issue on MacOS.

[2018-05-23 09:42] PaulRBerg commented on #450
@iurimatias Unfortunately it didn't work, even if I ran `rm -rf .embark/development/`. There are no permission issues, I'm using my normal development directories where `truffle` works fine.

[2018-05-23 14:06] iurimatias commented on #450
@PaulRBerg @troydo42

Unfortunately I'm not able to replicate this yet (nor other devs in the team), it seems to be an issue with geth in your particular system (see [here](https://github.com/ethereum/go-ethereum/issues/16342)), ```embark blockchain``` is a wrapper around geth, if you manually run the cmd shown in the log it will get the same result.

I'm looking for a solution, in meanwhile you c

[2018-05-23 14:19] iurimatias commented on #450
@PaulRBerg @troydo42

Good news I found the problem. Go-Ethereum doesn't like long paths... You'll have to put the project in a shorter path if you intend to use go-ethereum (embark blokchain), at least until the [issue](https://github.com/ethereum/go-ethereum/issues/16342) is fixed.

e.g:

works:
* ```/Users/iurimatias/Documents/TokenFactory```
* ```/Users/iurimatias/Projects/tmp/TokenFactory```

[2018-05-24 11:03] ethyla opened #455 "rpccorsdomain is undefined in simple project"
In a newly initialized --simple project, `embark blockchain` starts geth with http://undefined:undefined as parameters for rpccorsdomain and wsOrigins.
The command looks like this:
`running: geth --networkid 1337  --port 30303 --rpc --rpcport 8545 --rpcaddr localhost --rpccorsdomain="http://undefined:undefined,http://localhost:5001"  --ws --wsport 8546 --wsaddr localhost --wsorigins "http://undefi

[2018-05-24 16:06] iurimatias commented on #455
@ethyla This seems to be an issue with the default settings on that template. We'll release an updated template soon. in the meanwhile this is what you can do:

set the blockchain value https://github.com/embark-framework/embark/blob/master/templates/simple/embark.json#L7 from false to "blockchain.json"

add a blockchain.json file with this content https://raw.githubusercontent.com/embark-framewor

[2018-05-24 16:42] ethyla commented on #455
I'm pretty sure that that solution is not complete.
Even if I provide a genesis and a password it's still undefined.
I tried fixing it, but ended up downsizing a normal project.
Great if you're working on a fix, I really like the --simple option.

[2018-05-24 17:31] iurimatias commented on #455
@ethyla it depends on the functionality you are trying to use, right now by default, in the "development" environment, embark is using the --dev option, which doesn't use a genesis file. (this can be disabled by setting "isDev" to false)

[2018-05-25 07:42] ethyla commented on #455
@iurimatias I mean that just adding the blockchain.json doesn't fix the problem.

[2018-05-27 07:38] Brianspha opened #461 "Issues with app.js with latest release"
Hi there sir,

I recently updated my Embark to the latest version which was probably the worst mistake ive done now i am unable to access the smart contract objects from it, it doesnt include them in the app.js under the build js folder ive tried unistalling and reinstalling still no luck please help

[2018-05-27 11:29] iurimatias commented on #461
Hi @Brianspha !

Which Version were you using before? After knowing that I can help you with your issue

If you were before in version 2.6, the contracts can be accessed through an import (see release notes [here](https://github.com/embark-framework/embark/releases/tag/3.0.0))

[2018-05-27 11:34] Brianspha commented on #461
Hi,

3.0.5 all i had to do in that version was just include the contracts in the contracts folder and everything would work now nothing works

[2018-05-27 11:37] iurimatias commented on #461
@Brianspha ```embark.json``` try updating solc to ```0.4.24```

[2018-05-27 11:38] Brianspha commented on #461
I did still no luck

[2018-05-27 11:39] Brianspha commented on #461
The only code generated in app.js is as follows

[2018-05-27 11:39] Brianspha commented on #461
(function webpackUniversalModuleDefinition(root, factory) {
	if(typeof exports === 'object' && typeof module === 'object')
		module.exports = factory();
	else if(typeof define === 'function' && define.amd)
		define([], factory);
	else {
		var a = factory();
		for(var i in a) (typeof exports === 'object' ? exports : root)[i] = a[i];
	}
})(typeof self !== 'undefined' ? self : this, function() {
retu

[2018-05-27 11:45] Brianspha commented on #461
My code stops working when i try calling the contract object

[2018-05-27 11:47] iurimatias commented on #461
@Brianspha is there a repo a I can give a look to try to replicate the issue?

how are you calling the contract object?

[2018-05-27 11:50] Brianspha commented on #461
MorabarabaContract.methods.NewGame(account1,account2).call({from: account1,gas:3000000},function(err, value) {
        alert(value);
        if(!err){
        var section = $(this).attr("PlaySection");
        $("html, body").animate({
            scrollTop: $(section).offset().top
        });
        initializeGame();
    }

       // Setup the game board etc..
      });

[2018-05-27 11:54] iurimatias commented on #461
@Brianspha looking at the code, it seems you are missing an import , i.e something like ```import MorabarabaContract from 'Embark/contracts/MorabarabaContract'```

[2018-05-27 17:06] Brianspha commented on #461
https://github.com/Brianspha/MorabarabaOnTheBlock/tree/app.js-issue

[2018-05-27 17:19] Brianspha commented on #461
I didnt have to do this before is this something new?

[2018-05-27 17:20] Brianspha commented on #461
where should i place the import been using the framework for about a year ive never had to import the contracts in my app/js file

[2018-05-27 18:57] iurimatias commented on #461
Hi @Brianspha .

This is new to Embark 3.0 , you can read the release notes [here](https://github.com/embark-framework/embark/releases/tag/3.0.0)

You can also find the new documentation [here](https://embark.status.im/docs/) as well as tutorials [here](https://embark.status.im/tutorials/).

You need to update (or remove) the solc version to 0.4.24 in [here](https://github.com/Brianspha/Morabaraba

[2018-05-28 00:06] vertangelx opened #462 "No "from" address specified in neither the given options, nor the default options"
I am following part 2 of the Embark tutorial. At the end of the tutorial, we have deployed a contract on the fly and it works well.

Now if we were to deploy a new token on the fly, and enter the deployed token address into `#useToken input` and click the `Use this Token` button, the query button still works, but attempting to transfer the tokens using the `Transfer` button produces an error in th

[2018-05-28 00:47] Brianspha commented on #461
Thank your, i had followed the embark demo structure of the code it now works after adding the imports

[2018-05-29 13:47] rayhvh commented on #416
@iurimatias Hey. Did you got any change to look into parity for whisper?

[2018-05-30 07:48] Brianspha commented on #461
Hi there,

For some odd reason doing this
import MorabarabaContract from 'Embark/contracts/MorabarabaContract'
is preventing app.js from being generated please help

[2018-05-30 07:52] Brianspha commented on #461
Here's the error im getting

C:/Users/user/Documents/GitHub/MorabarabaOnTheBlock/app/js/index.js
Module not found: Error: Can't resolve 'Embark/contracts/Morabaraba' in 'C:\User
s\user\Documents\GitHub\MorabarabaOnTheBlock\app\js'
resolve 'Embark/contracts/Morabaraba' in 'C:\Users\user\Documents\GitHub\Morabar
abaOnTheBlock\app\js'

[2018-05-30 08:04] Brianspha commented on #461
Sorry about that, looks like i have to keep update my npm everytime i have to work using npm update -g it only works after i do that each time

[2018-05-30 08:04] #461 closed

[2018-06-06 07:27] yunandaraung opened #486 "When I install the embark framework at Ubuntu 16.04 LTS 64 bits, I faced an error as following. Could someone please help me to solve this problem? Thank you very much."
npm WARN registry Unexpected warning for https://registry.npmjs.org/: Miscellaneous Warning EAI_AGAIN: request to https://registry.npmjs.org/embark failed, reason: getaddrinfo EAI_AGAIN registry.npmjs.org registry.npmjs.org:443
npm WARN registry Using stale package data from https://registry.npmjs.org/ due to a request error during revalidation.
npm WARN deprecated babel-preset-es2017@6.24.1: 🙌  T

[2018-06-06 12:37] iurimatias commented on #486
hi @yunandaraung

when you do ```ping github.com``` are you getting a response? if not there is an issue with your connection github (or firewall maybe?)

also try to do ```git config --global --unset https.proxy``` and then retry the ```npm -g install embark```

[2018-06-11 10:06] imhari213 opened #503 "Getting this error while installing embark in Windows"
C:\Users\Administrator\AppData\Roaming\npm\node_modules\embark\node_modules\scrypt>if not defined npm_config_node_gyp (node "C:\Program Files\nodejs\node_modules\npm\node_modules\npm-lifecycle\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )  else (node "C:\Program Files\nodejs\node_modules\npm\node_modules\node-gyp\bin\node-gyp.js" rebuild )
Warning: Missing input files:
C:\Us

[2018-06-11 12:32] jrainville commented on #503
This is a problem with node-gyp. You can see the solution in the Troubleshooting section of the website: https://embark.status.im/docs/troubleshooting.html#node-gyp-problems

[2018-06-12 07:53] yunandaraung commented on #486
Hi @iurimatias,

Thanks a lot. I can solve it.

[2018-06-12 07:53] yunandaraung opened #509 "Embark Demo and cannot find module error"
yunandar@ubuntu:~/node_modules$ embark demo
module.js:549
    throw err;
    ^

Error: Cannot find module './build/Release/scrypt'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Module.require (module.js:596:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (/home/yunandar/embark/node_modules/scrypt/index.js:3

[2018-06-12 12:13] jrainville commented on #509
Looks like your installation of embark globally might have had a problem. You can try to run `npm install -g embark` again or try uninstalling first using: `npm uninstall -g jshint`

If during installation you get errors about `scrypt` or `node-gyp`, follow those instructions: https://embark.status.im/docs/troubleshooting.html#node-gyp-problems

[2018-06-13 12:38] imhari213 opened #516 "getting this error while embark run"
[D:\embark_demo\node_modules\base64-js.json]
 [D:\embark_demo\node_modules\base64-js]
  @ ../node-libs-browser/node_modules/buffer/index.js 11:13-33
  @ D:/embark_demo/node_modules/ipfs-api/src/index.js
  @ D:/embark_demo/.embark/embark.js
  @ D:/embark_demo/app/dapp.js
errors found while generating js/dapp.js

can anyone help me please......

[2018-06-13 13:11] jrainville commented on #516
Hi @imhari213 , are you run embark run on the demo or a new Dapp?
Which version of embark are you using (`embark version`)
Also, did you install an other node module that could affect the run?
Finally, did you modify dapp.js?

[2018-06-13 13:11] iurimatias commented on #516
@imhari213 can you provider a more complete log? note: as an alternative you can try ```embark run --nodashboard``` if that makes it easier to copy the logs.

[2018-06-13 14:29] mortimr opened #519 "Build command not calling afterDeploy instructions"
Hi guys !

Found a small problem with `embark build`.

I have a `contracts.json` configuration containing some `afterDeploy` commands. If I run `embark run`, contracts are getting deployed, then `afterDeploy` commands too.

But when I call `embark build`, contracts are getting deployed, embark console logs informations showing that `afterDeploy` commands are taken into account, but none of them ar

[2018-06-14 10:52] imhari213 commented on #516
Solved by installing missing module like base64.

[2018-06-14 10:54] imhari213 opened #526 "How to connect embark to Rinkeby Test Network"
Can anyone explain how to connect to Rinkeby  test network

[2018-06-14 10:57] imhari213 commented on #503
Thanks Problem Solved :)

[2018-06-14 12:15] #516 closed

[2018-06-14 12:15] jrainville commented on #503
No problem!

[2018-06-14 12:15] #503 closed

[2018-06-14 15:36] jrainville commented on #519
Hi @mortimr , we figured it was a problem on our side. Basically, we only deployed contracts on `embark build` and exited after that, but that didn't leave time for afterDeploy functions to be executed.

We just published Embark 3.0.10  which includes a fix to that. You can update using `npm update embark -g`. You will see when you update that it also builds your files now, since it makes sense to

[2018-06-14 15:43] mortimr commented on #519
Hi @jrainville, thank you for your answer.

Just updated and everything works fine: `afterDeploy` instructions are properly called and waited, and Dapp sources are also built.

Thank you !

[2018-06-14 15:43] #519 closed

[2018-06-18 07:46] imhari213 opened #542 "how to start private by giving --nodiscover option"

[2018-06-18 12:14] jrainville commented on #542
Hi @imhari213 , in blockchain.json, you can set `"nodiscover": true`.
It will set --nodiscover in geth.

[2018-06-19 07:22] imhari213 opened #555 "can anyone tell me hot to connect to rinkeby test network"
any one please explain how to connect to rinkeby test network

[2018-06-20 15:16] iurimatias commented on #526
hi @imhari213 , you have 3 possibilities at least:

1) You can edit the testnet environment in `config/blockchain.json` and change `networkType` to `rinkeby`, then do `embark run testnet` (embark 3.1)

2) You can connect to Rinkey using a custom provider like infura, for that you can edit the `deployment` in `config/contracts.js` to something like:

[code]

See the documentation [here](https://emb

[2018-06-20 15:16] iurimatias commented on #555
Answered [here](https://github.com/embark-framework/embark/issues/526#issuecomment-398788762)

[2018-06-20 15:16] #555 closed

[2018-06-20 15:17] iurimatias commented on #455
fixed in 3.1

[2018-06-20 15:17] #455 closed

[2018-06-20 15:17] iurimatias commented on #342
fixed

[2018-06-20 15:17] #342 closed

[2018-06-21 15:33] imhari213 commented on #526
thank you

[2018-06-21 15:36] #526 closed

[2018-06-21 15:39] iurimatias commented on #61
There are different ways to do this now using the accounts config https://embark.status.im/docs/contracts.html#Using-accounts-in-a-wallet and specifying from option for each contract if needed etc..

[2018-06-21 15:39] #61 closed

[2018-06-21 15:40] iurimatias commented on #5
This is easily doable in Embark 3.1 with the accounts feature (documentation [here](https://embark.status.im/docs/contracts.html#Using-accounts-in-a-wallet)) in both normal deployment and in the [tests](https://embark.status.im/docs/testing.html)

[2018-06-21 15:40] #5 closed

[2018-06-21 15:41] #253 closed

[2018-06-21 15:42] #283 closed

[2018-06-22 17:46] #509 closed

[2018-06-22 17:47] iurimatias commented on #83
Closing this as Windows is supported well in embark 3 and above

[2018-06-22 17:47] #83 closed

[2018-06-22 17:48] iurimatias commented on #125
(in embark 3.1) doing `embark build --contracts` should generate the desired json data in `dist/contracts`

[2018-06-22 17:48] #125 closed

[2018-06-22 17:49] iurimatias commented on #129
In Status Embark 3 and above, this data is generated and outputed into `dist/contracts`

[2018-06-22 17:49] #129 closed

[2018-06-22 17:52] iurimatias commented on #233
Closing as this has been fixed for a while now.

[2018-06-22 17:52] #233 closed

[2018-06-22 17:56] #228 closed

[2018-06-22 18:06] iurimatias commented on #248
Closing this as it's somewhat outdated. Gas calculation and the testing framework is vastly improved in Status Embark 3.1 (http://embark.status.im/)

[2018-06-22 18:06] #248 closed

[2018-06-22 18:07] iurimatias commented on #272
http://embark.status.im/

[2018-06-22 18:07] #272 closed

[2018-06-22 18:08] iurimatias commented on #250
npm modules can be added to embark projects now easily. However mssql it's more apropriate for a pure nodejs based project (and not a web dapp)

[2018-06-22 18:08] #250 closed

[2018-06-22 18:08] #268 closed

[2018-06-22 18:10] iurimatias commented on #303
A lot has changed, please see the docs for configuring accounts [here](https://embark.status.im/docs/contracts.html#Using-accounts-in-a-wallet)

[2018-06-22 18:10] #303 closed

[2018-06-22 18:12] iurimatias commented on #266
this can be done with the `-l` or `--gasLimit` option

[2018-06-22 18:12] #266 closed

[2018-06-22 18:12] iurimatias commented on #287
Closing this as now Embark supports Whisper v6

[2018-06-22 18:12] #287 closed

[2018-06-22 18:16] iurimatias commented on #450
In embark 3.1 we detect this situation and show a warning to the user

[2018-06-22 18:16] #450 closed

[2018-06-22 18:27] iurimatias commented on #271
the `rpcapi` param can be added & configured in `config/blockchain.js`

[2018-06-22 18:27] #271 closed

[2018-06-22 18:28] iurimatias commented on #290
Closing as this issue is somewhat outdated compared to the current version of Status Embark

[2018-06-22 18:28] #290 closed

[2018-06-25 06:19] driversti opened #577 "Cannot run a simulator, "Error forwarding requests to blockchain/simulator""
Hi. I've started a new project as [here](https://embark.status.im/docs/quick_start.html) is described and cannot even run blockchain simulator
![image](https://user-images.githubusercontent.com/9593317/41833360-4a8d45da-7850-11e8-92dc-269f41cc4c25.png)
What am I doing wrong, guys?

[2018-06-25 12:16] iurimatias commented on #577
@driversti what version of testrpc or ganache-cli do you have installed?

In Embark 3.1 just doing `embark run` should suffice (will uses [geth](https://geth.ethereum.org/))

[2018-06-25 12:16] #486 closed

[2018-06-25 12:17] iurimatias commented on #462
This has been fixed/improved in [Embark 3.1](https://blog.status.im/embark-3-1-planet-express-60493ca0ad79)

[2018-06-25 12:17] #462 closed

[2018-06-25 12:17] #398 closed

[2018-06-25 13:12] driversti commented on #577
@iurimatias `Ganache CLI v6.1.3 (ganache-core: 2.1.2)`
In the Embark's docs is written to start the `embark simulator` first and then `embark run`. And the very first command throws an error

[2018-06-25 17:51] iurimatias commented on #577
Hi @driversti , sorry about this, it looks like the new version of ganache cli has a bug, we just released embark `3.1.2` that should fix this. The docs will be updated soon too

[2018-06-25 17:51] #577 closed

[2018-06-26 00:34] ethanwilkins commented on #317
Hi, I'm still getting this error was well. Should this still be happening?
![screen shot 2018-06-25 at 8 32 13 pm](https://user-images.githubusercontent.com/3452218/41882470-1430d4a4-78b7-11e8-9a09-ab31b1d41297.png)

[2018-06-26 00:59] ethanwilkins commented on #317
I also reported the issue here https://stackoverflow.com/questions/51033531/ethereum-embark-console-method-calls-all-returning-as-undefined

[2018-06-27 11:30] iurimatias commented on #317
@ethanwilkins Embark uses web3.js 1.0 , it should be `MDBAccount.methods.post("Hello World").send()` and `MDBService.methods.register().send({gas:900000})`

[2018-06-27 12:35] Astephannie opened #588 "Cannot build the demo DApp using Embark 3.1.2"
Hi all! I'm using Embark 3.1.2, Ganache CLI v6.1.3(ganache-core: 2.1.2)

I follow the instructions to run the demo project but I get an infinite message as you can see in the last image on (http://localhost:8000/). As I see the structure of files changed on this Embark version comparing with Embark 2.6.8 for example.

![screenshot from 2018-06-27 08-26-42](https://user-images.githubusercontent.com

[2018-06-27 12:49] jrainville commented on #588
Hi @Astephannie . As I understand, this is an old demo app (that you have created with Embark 2) and running with Embark 3.1. It should work as before, but maybe something in your code hanging the the file processing.
Did you add some big requires in you javascript code?
Also, does your computer have a limited number of cpus? It could affect since we build files in separate processes.
Finally, you

[2018-06-27 13:12] Astephannie commented on #588
Thanks for your answer @jrainville. I followed this https://embark.status.im/docs/setup.html to create a blank DApp but I didn't get the initial message, I received the same Embark icons movement on (Localhost:8000).
Then, I tried to "Embark_demo" (https://embark.status.im/docs/quick_start.html) and I get the same on (Localhost:8000).
Now, I deleted the dist folder but I get the same loading page.

[2018-06-27 17:29] jrainville commented on #588
Ok, so I tried to run a clean `embark demo` and it worked once I ran `npm install`. I see you do have a node_modules folder in your screen_shot, but maybe it is old? Can you try running `npm install` again and see if `embark run` works after?

[2018-06-27 18:34] Astephannie commented on #588
It's strange. I deleted node_modules then I ran `npm install`. I tried `embark reset` but I continue in the same status **Building ...**
![screenshot from 2018-06-27 14-31-37](https://user-images.githubusercontent.com/10391076/41992580-e0b08ac8-7a16-11e8-92d8-101991d6b875.png)

[2018-06-27 18:39] iurimatias commented on #588
hi @Astephannie

Could you show us the embark.json file? This should be how it new one looks like https://github.com/embark-framework/embark/blob/master/templates/demo/embark.json#L4

[2018-06-27 18:45] iurimatias commented on #588
hi @Astephannie is it possible for you to come to the gitter channel [here](https://gitter.im/embark-framework/Lobby) please. We will try our best to help you.

[2018-06-27 21:51] jrainville commented on #588
So for anyone having the same issue, we fixed it by installing nvm and reinstalling embark.
Re-installing node would probably have worked too.
Problem was probably caused by running `npm install embark -g` using sudo, which is a bad idea, but that I, myself, did in the past haha.

[2018-06-27 21:51] #588 closed

[2018-07-03 17:50] juharris commented on #462
I got this error today with a fresh install with version 3.1.2.

[2018-07-04 16:03] bitcoin4cashqc opened #600 "TypeError [ERR_INVALID_ARG_TYPE]"
I installed embark with -g, trid to npm-check the general module as well, whatever I do I can't fix this error.

https://stackoverflow.com/questions/51177753/trying-to-run-the-embark-demo

Any ideas? :( this look so much great and much more what I'm looking for than truffle.

[code]

[2018-07-04 18:30] jrainville commented on #600
Hi @bitcoin4cashqc . We think it might be related to your Node JS version. We support Node v.8.11+.
Which version are you using? (`node -v`)

[2018-07-04 18:32] bitcoin4cashqc commented on #600
Thanks for your so fast answer.

When I type node -v
 I get v9.2.0

Whrn i type nodejs -v
 I get v8.11.3

[2018-07-04 18:40] bitcoin4cashqc commented on #600
J'ai comme erreur à la fin en npm install -g embark :

(node:17087) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 SIGINT listeners added. Use emitter.setMaxListeners() to increase limit
make : on entre dans le répertoire « /home/line/local/lib/node_modules/embark/node_modules/websocket/build »
  CXX(target) Release/obj.target/bufferutil/src/bufferutil.o
  SOLINK_MODUL

[2018-07-04 18:47] jrainville commented on #600
Donc tu as une erreur en installant `npm install -g embark`? Si oui, c'est possiblement lié au compilateur C++ qui est nécessaire d'avoir pour compiler une des dépendances de web3/ganache.
Avec tes logs, je n'arrive pas à être sûr que c'est ça l'erreur, mais tu peux essayer de suivre les instructions ici (https://github.com/nodejs/node-gyp#installation) pour installer le bon compilateur.

[2018-07-04 18:59] bitcoin4cashqc commented on #600
En fais y'a des erreurs en `npm install -g embark`

Je viens de faire `npm uninstall -g node-gyp` ensuite `npm install -g node-gyp`

Finalement je `npm install -g embark`, le log :

`npm install -g embark
npm WARN deprecated babel-preset-es2015@6.24.1: 🙌  Thanks for using Babel: we recommend using babel-preset-env now: please read babeljs.io/env to update!
npm WARN deprecated babel-preset-es2016@6

[2018-07-04 19:06] jrainville commented on #600
Ton installation globalle de embark semble fonctionnée (ce ne sont que des avertissements).
Peut-être que c'est un problème d'installation au niveau de la Dapp. On a déjà eu des cas où l'installation des packages ne se faisait pas au complet.
Essaie de rouler `npm install` dans  `embark_demo` et de réessayer `embark run` pour voir si ça fonctionne.

[2018-07-04 19:12] bitcoin4cashqc commented on #600
:(

[code]

et embark run la même erreur :(

[2018-07-04 19:13] bitcoin4cashqc commented on #600
Je comprend vraiement pas

[2018-07-04 19:18] jrainville commented on #600
Ah, j'ai trouvé quelqu'un d'autre sur le Webqui avait le même problème.
Apparement, l'implémentation de node a changé avec v9, alors si c'était possible pour toi d'installer Node v8.11.3 au lieu de v9, je crois que ça réglerais le problème.
Si tu veux, tu peux utiliser NVM (https://github.com/creationix/nvm), c'est vraiment pratique pour changer de version de Node.

[2018-07-04 20:10] bitcoin4cashqc commented on #600
Damn bro ça fonctionne :)

Merci énormement!

[2018-07-04 20:10] #600 closed

[2018-07-04 20:13] jrainville commented on #600
Cool. N'hésites pas si tu as d'autres problèmes! Si tu préfères, tu peux nous contacter sur Gitter, toute l'équipe y est: https://gitter.im/embark-framework/Lobby
Bon codage!

[2018-07-05 15:42] bitcoin4cashqc commented on #600
Merci, c'est vraiment très cool :)

[2018-07-06 09:56] hhakala opened #601 "Update sync mode config values in boilerplate and demo configs"
In issue #541 sync mode config setting was updated from "light:true" to "syncMode:light", but demo still has old values.

[2018-07-06 10:00] #601 closed

[2018-07-06 14:54] jrainville commented on #601
Thanks again for the PR. Embark 3.1.5 was just published containing your fix plus another small fix for syncmode and to the tests

[2018-07-08 21:11] Leo-Raj opened #608 "Installation fail: Permission denied"
Have already tried the fix from : https://docs.npmjs.com/getting-started/fixing-npm-permissions
nodejs: v10.6.0
npm: v6.1.0
-------------------------------------------------------------------------------------------------------------
ERROR
--------------------------------------------------------------------------------------------------------------
sudo npm install -g embark
npm WARN deprecated ba

[2018-07-09 06:58] iurimatias commented on #608
This is most likely due to issues in your environment node or npm itself due for being installed with sudo, which can & will cause all sorts of permissions issues down the road

I recommend you use nvm to install node:

https://github.com/creationix/nvm/blob/master/README.md#installation

you can then install node 8.11 with `nvm install 8.11` `nvm use 8.11` `npm -g install embark` etc..

[2018-07-09 06:58] #608 closed

[2018-07-09 12:17] Leo-Raj commented on #608
I got the solution from here: https://gitter.im/embark-framework/Lobby. Including the chat logs here:

@Leo-Raj
03:04
Can someone help me with this issue? embark-framework/embark#608
Iuri Matias
@iurimatias
03:24
@Leo-Raj don't install with sudo
@Leo-Raj
03:28
$ npm install -g embarknpm WARN deprecated babel-preset-es2016@6.24.1: 🙌 Thanks for using Babel: we recommend using babel-preset-env now: p

[2018-07-09 13:07] jrainville commented on #608
We had another user who had the exact same issue and had to do `npm config delete prefix`, so it is perfectly normal.

[2018-07-11 14:00] NatalieChin80 opened #619 "Unable to access web3.eth.accounts in config/contracts.js"
# What I'm trying to do:

I originally wrote all my tests in the Truffle testing environment. However, after finding Ganache and Truffle were often crashing, I have turned to trying to write tests in Embark.

In order to deploy one of my contracts, I have to send two addresses into the constructor. I have started a local testrpc using `embark simulator`, which started `ganache-cli` with a mnemonic

[2018-07-11 14:44] jrainville commented on #619
Hi @NatalieChin80 , I am unsure of the context of your question. Are you trying to write tests for your contract or trying to run it to use it in a Dapp?
Here is how you could do it for a test:
[code]
Where MyContract is the class name of you contract. Once put in `test/testName.js`, you can run it using `embark test`

You can find the whole test documentation here: https://embark.status.im/docs/t

[2018-07-11 15:15] NatalieChin80 commented on #619
Hello @jrainville, thanks for the quick response! I'm trying to use it while running `embark run` - so my guess is that it's for the deploying?

I'm confused. I was under the impression that the contract would have to be deployed through the command `embark run`, and would be used when we use `embark test`. It seems from the above, that it's possible to deploy a contract in the test. What's the pu

[2018-07-11 15:23] jrainville commented on #619
`embark test` can be used standalone. It boots a simulator for you and deploys the contracts that you choose. It's an easy way to deploy only what you want with specific arguments to test them.

`embark run` is a way to run your Dapp. So it will deploy all your contracts, that's where `config/contracts.js` comes in. You configure your contracts there and put your arguments like so:
[code]
For more

[2018-07-11 15:39] NatalieChin80 commented on #619
Oh, I see. I hadn't realized `embark test` was standalone. Thank you very much for clearing that up!

I have another quick question - I noticed that in the `config/contracts.js`, there's an ability to refer to a previously deployed contract to send in as an argument (through `$CONTRACTNAME`). What would the syntax be for the testing environment? I tried the following:

[code]

The error message is

[2018-07-11 15:44] iurimatias commented on #619
@NatalieChin80 Another thing, Embark is using the more modern web3.js 1.0 so some of the syntax is different. For example, `web3.eth.accounts` no longer works, instead you need to something like `web3.eth.getAccounts().then(console.log)`. You can find the documentation for web3.js 1.0 [here](http://web3js.readthedocs.io/en/1.0/)

[2018-07-11 15:45] jrainville commented on #619
Just needs a few tweaks. We use Web3.js 1.0, so when doing `Contract.deploy({...}).send()`, that returns you a promise of the deployment. My example above was a little flawed. Here is what it would look like using the `await` keyword:
[code]
That should work, but I have not tested.

[2018-07-11 15:56] NatalieChin80 commented on #619
@iurimatias I see. Thank you very much!

@jrainville Thanks so much for your help! Though, I tried implementing what you mentioned, and I got the following error:

[code]

[2018-07-11 16:01] jrainville commented on #619
The callback function of getAccounts needs to be transformed to an async function like so: `async function (err, accounts) {`. And the one for before probably doesn't need it. Basically, you put `async` on functions that contain `await` calls.
Just to be sure there is not another error, try putting a `try/catch` around your deploys to catch any other errors.

[2018-07-11 16:19] NatalieChin80 commented on #619
I see. I've made the changes to the async function. There's no callback error anymore! Thanks so much!

I also added a try-catch - it seems the `Contract2Instantiate` didn't go through. The error message said `Error: The data field must be HEX encoded data.`

Do the addresses have to be padded before the transaction?

[2018-07-11 16:22] iurimatias commented on #619
@NatalieChin80 in web3.js 1.0 in some cases when passing a string as a parameter you need to convert it to an hex first, something like ```web3.utils.asciiToHex('the_string')```

[2018-07-11 17:53] NatalieChin80 commented on #619
That's interesting. So I tried that, and it didn't solve the error. I have a question more about what the `data` field is supposed to be - in terms of deploying a contract? I suspect the reason why my code isn't working is because said "data" is undefined (should be set to the bytecode). Does Embark do something in the background to send the bytecode?

[2018-07-11 17:56] jrainville commented on #619
Embark compiles and deploys the contract for you. So yes, it does get the bytecode. I'm not sure why yours would be undefined. Could you paste your entire test file here so we can analyze what's wrong, please.

[2018-07-11 20:55] NatalieChin80 commented on #619
Sure thing. Here it is:
[code]

[2018-07-11 21:00] jrainville commented on #619
You use `Channel1` and `Channel2` variables, but there are never defined. You are probably catching our legacy global variables on deploy. You should be defining them at the top instead of `Contract1` and `Contract2`. (eg: `const Channel1= require ('Embark/contracts/Channel1.sol'); `

Appart from that, it should work. What error are you getting?

[2018-07-11 21:03] NatalieChin80 commented on #619
Yeah, sorry - I just realized that - I've edited the code snippet to reflect the changed variable 👍

The try-catch for Contract2Instance failed.

`STKChannelInstance did not deploy correctly: Error: The data field must be HEX encoded data.`

[2018-07-11 21:43] jrainville commented on #619
Do the logs of the accounts and of the contract address give good results? Do they start with 0x?

Also, do you have a repo where I could check your code? That way I could test and tell you what's wrong. It is likely not a problem with Embark as we have tests very similar to this one.

In the mean time, you can also try to test using the "standard" way of deploying in tests which is with `config()

[2018-07-11 21:49] NatalieChin80 commented on #619
Yep, they do. I also did a `web3.utils.isHex()` on all of the values, and they all returned true. Here is the log output:

[code]

Yes. Here is a repo of similar contracts. https://github.com/STKtoken/STK-smart-contracts
 - `STKToken` has to be deployed first
 - It's address is sent in as an argument for `STKChannel`
 - `STKChannel` uses the library: `STKChannelLibrary`

Sounds good. I'll try with

[2018-07-12 13:33] jrainville commented on #619
Hi @NatalieChin80 , I finally managed to find your problem. It is one of the weirdest bug I have ever seen and seems to come from the solc compiler. Somehow, STKChannelLibrary is too long, so solc abbrieviated it to STKChannelLibr and Embark became really confused because STKChannelLibr doesn't exist.

So, a quick fix was to rename STKChannelLibrary to STKChannelLib. Also, you need to deploy STKCh

[2018-07-12 14:25] jrainville commented on #619
Just an FYI that we found the problem. Solc really does truncate the name of libraries that are too long. It is a new behavior. We actually have a warning for that type of situation, but the truncation is new and messed up with our code. I'll have a patch ready today to fix the warning.
Long story short, you still have to shorten the name of your contract as Solc will butcher it anyway ;)

[2018-07-12 15:22] NatalieChin80 commented on #619
Hello @jrainville  - thanks so much for looking into this! That's interesting - I've never heard the `solc` compiler complain about the file length or anything being too long. Interesting - I will refactor them!

So I tried what you implemented, and I'm trying to get it to work with the web3 accounts. I have the following test file:

[code]

It still executes with the below error. I'm wondering wh

[2018-07-12 15:53] jrainville commented on #619
My colleague thinks it might be related to string needing to be converted to hex using `web3.utils.asciiToHex('the_string')`.

However, here's a simpler way to do it. Bascially, you can still use `config()` insde the `before` and even inside the callback of `getAccounts`.
Deploying the contract manually with `.deploy()` is good when you only have one or two to use, but for three it gets in the way

[2018-07-12 16:41] NatalieChin80 commented on #619
Oh!! That's really great. It makes it much more readable. Thanks for letting me know about that syntax!

Big thank you to you and your colleague for looking into this code. I believe I tried the `web3.utils.asciiToHex` and it didn't function as expected. I tried the code snippet. I found mismatched brackets on line 40, which I corrected into: `});`

However, I am now getting `Error: Callback was a

[2018-07-12 16:44] jrainville commented on #619
Oops, sorry, I edited the code partially in the comment, but decided not to, but forgot to revert.
The code snippet above now works correctly straight up. (it was missing the `done`)

[2018-07-12 16:46] jrainville commented on #619
Contract names might not be exactly the same. Just change them in the config and in the require.

[2018-07-12 16:52] NatalieChin80 commented on #619
Yes, it works!! Thank you so much @jonjonsonjr @iurimatias for your help to get this working!

[2018-07-12 16:54] jrainville commented on #619
No problem. (btw you tagged the wrong guy haha)

[2018-07-12 16:54] #619 closed

[2018-07-22 14:12] Miraj98 opened #635 "Not able to download embark"
I am not able to install embark through- `sudo npm install -g embark`
This is the error message:
[code]

[2018-07-22 14:15] michaelsbradleyjr commented on #635
When you ran `npm install -g embark` did you use `sudo`?

[2018-07-22 14:30] michaelsbradleyjr commented on #635
Installing with `sudo` can/will cause all sorts of permissions issues.

Since you're on macOS, I recommend you use nvm to install node:

https://github.com/creationix/nvm/blob/master/README.md#installation

You can then install node v8.11.3 (or another version, that's the oldest we support) with:

[code]

[2018-07-22 14:43] Miraj98 commented on #635
@michaelsbradleyjr Done as you said. Generated a whole lot of errors. But was successfully able to download embark. Was happy to see the final message:
[code]
💯

[2018-07-22 14:43] #635 closed

[2018-07-27 04:24] dotnetspec opened #646 "scrypt@6.0.3 preinstall: `node node-scrypt-preinstall.js'"
Attempting to install Embark I get this error:

scrypt@6.0.3 preinstall: `node node-scrypt-preinstall.js`
npm ERR! Exit status 1
npm ERR! Failed at the scrypt@6.0.3 preinstall script.

OS:
Linux Mint 18.3 64bit

I have:
    python (v2.7 recommended)
    make
    A proper C/C++ compiler toolchain, like GCC

versions:
Now using node v8.11.3
(npm v5.6.0)
nodejs v.4.2.6

I have been able to create an

[2018-07-27 12:13] jrainville commented on #646
I would suggest trying to use NVM (https://github.com/creationix/nvm).
With that, you can manage which version of node to install and use and change between them.
It should fix your problem of not the right Node version being used.

[2018-07-27 15:33] jrainville commented on #646
When we talk about NodeJs, we talk about just node (eg `node -v`). You don't actually need to install `nodejs`.
Maybe you can try to uninstall that and after uninstall embark (`npm uninstall embark -g`)  and reinstall it (`npm install -g embark`).
Please tell me if you have errors after that installation.
Also, make sure to never use `sudo` when installing node or embark, because it causes permiss

[2018-07-29 02:43] Brianspha opened #650 "Depoying to Infura"
Hi there,

Do you by any chance know how one could use embark to connect to infura or is there an example in the documentation that i have missed?

[2018-07-29 02:47] emizzle commented on #650
Hi @Brianspha,

Check out https://embark.status.im/docs/contracts.html#Using-accounts-in-a-wallet, specifically the section:

[code]

[2018-07-29 02:48] Brianspha opened #651 "Deploying Contract takes for Ever"
Hi there,

I am trying to deploy one of the contracts but its taking a really long time to deploy

Heres the link to the contracts and contracts.json
https://github.com/Brianspha/Yey-Wena/tree/master/app/

Heres the output

HelperFunctions already deployed at 0x95FA4003A8d976c39E5Cc5F57b5543BF991b66c6
Ownable already deployed at 0x1Fb343bA890EbfFfF5fFE66c739fd49497696977
Grower already deployed at

[2018-07-29 10:38] liamzebedee opened #652 "No warning if environment's rpcPort is already being used"
I'm running a local geth with our private blockchain on port 8545. I was wondering why transactions were taking so long to go through, since I was using the 'development' environment like so `$(yarn bin)/embark run --nodashboard development`.

It appears that if a geth instance is already running on that port, it will silently use that. I think this could be potentially confusing - would it be use

[2018-07-29 12:44] Brianspha commented on #651
Hi there,

I have figured it out deploying the contract required an awfully high amount of gas so i increased the gas limit for the contract to 15 million only then did it compile and deploy thank you it would be nice if embark indicated the exact reason for some contracts not being deployed maybe outputting an insufficient gas error or something along those lines

[2018-07-29 12:44] #651 closed

[2018-07-29 13:07] Brianspha commented on #650
Im still finding it hard to deploy to infura in the docs you guys mention the above config rules are for the web3 provider not necessarily the blockchain what does this mean? is this for when you use the object in your code?? can you please give me an example of how to put everything together cause the console is outputting the following:
Couldn't connect to an Ethereum node are you sure it's on?

[2018-07-29 13:45] dotnetspec commented on #646
I did the following  (as root, not sudo - is that ok? - without root I just get access permission issues?):
linuxuser-Intel-i5 linuxuser # npm uninstall nodejs -g
up to date in 0.053s
linuxuser-Intel-i5 linuxuser # npm uninstall embark -g
up to date in 0.049s
linuxuser-Intel-i5 linuxuser # npm install embark -g

Output was:
npm WARN deprecated babel-preset-es2015@6.24.1: 🙌  Thanks for using Babel:

[2018-07-29 18:04] michaelsbradleyjr commented on #646
@dotnetspec you should install and activate nvm (`source ~/.nvm/nvm.sh`) as an unprivileged user, not as root. Following activation you will need to `install` or `use` a version of node, also as an unprivileged user:

[code]
That only needs to be done once, unless you later `nvm uninstall <version>`. After that you can do:
[code]

When you run `nvm install <version>` it automatically does `nvm use

[2018-07-30 00:20] emizzle commented on #650
**More information needed**
1. Could you please copy your final contracts config here (please leave out infura token and mneumonic/private key).
1. Did you generate an infura token?

**Answers**

I agree, this is confusing. This means that the web3 provider will connect to the node provided in the contracts config (under the deployment section) for deploying contracts. However, this config will *n

[2018-07-30 00:38] dotnetspec commented on #646
Thank you very much for your time and patient explanation. That has resolved the embark installation issues.
For 'embark run' I get:
Error: Cannot find module 'ethereumjs-wallet/hdkey'
After 'npm -g install ethereumjs-testrpc'
However, I will open that as a new issue.

[2018-07-30 00:38] #646 closed

[2018-07-30 00:41] michaelsbradleyjr commented on #646
We just also discovered the `'ethereumjs-wallet/hdkey'` problem. It's owing to a breaking change made, probably inadvertently, to a software package embark relies upon. We have contacted the authors of that package and are implementing a fix for embark:

https://github.com/embark-framework/embark/pull/653

[2018-07-30 00:58] dotnetspec opened #654 "Cannot find module 'ethereumjs-wallet/hdkey'"
Linux Mint 18.3
64 bit

After
$ sudo add-apt-repository -y ppa:ethereum/ethereum
$ sudo apt-get update
$ sudo apt-get install ethereum
'npm -g install ethereumjs-testrpc' and npm -g install ganache-cli
For 'embark run' in the embark_demo dir I get:
Error: Cannot find module 'ethereumjs-wallet/hdkey'

running testrpc in a new terminal works:
Listening on localhost:8545
I try: 'embark run' from anot

[2018-07-30 01:02] michaelsbradleyjr commented on #654
The problem is owing to a breaking change made, probably inadvertently, to a software package embark relies upon. We have contacted the authors of that package and are implementing a fix for embark: https://github.com/embark-framework/embark/pull/653

In the meantime, you could do:

[code]

That will install embark directly from the `develop` code branch on GitHub. That's not generally recommended

[2018-07-30 01:11] dotnetspec commented on #654
Wow. Fast response. Yes, it worked ... thanks ...

[2018-07-30 01:20] dotnetspec commented on #654
Thanks for the fast response. The console is appearing now ...
but falls over at:
Error: EACCES: permission denied, open './chains.json'
How should I handle this?

[2018-07-30 01:22] michaelsbradleyjr commented on #654
How did you create the dapp folder? By running `embark demo`? Did you run the command with `sudo`?

[2018-07-30 02:23] dotnetspec opened #655 "js-ipfs not an available Embark service"
I have installed and run js-ipfs:
jsipfs daemon
Initializing daemon...
Swarm listening on /ip4/127.0.0.1/tcp/4003/ws/ipfs/QmZiJ3TfaxjnyAPWAzx2TTeA5fMfm2JerXUYutHKFCH9P3
Swarm listening on /ip4/127.0.0.1/tcp/4002/ipfs/QmZiJ3TfaxjnyAPWAzx2TTeA5fMfm2JerXUYutHKFCH9P3
Swarm listening on /ip4/192.168.1.127/tcp/4002/ipfs/QmZiJ3TfaxjnyAPWAzx2TTeA5fMfm2JerXUYutHKFCH9P3
API is listening on: /ip4/127.0.0.1/t

[2018-07-30 03:37] dotnetspec opened #657 "Decentralized storage - xhr error"
Linux Mint 18.3
Firefox
jsipfs daemon running
with http://localhost:8000/
tab indicator is green
Error msg is 'failed to fetch' in Chromium

How can I get past this error and get 'Save text to storage' working?

[2018-07-30 05:04] walletdude opened #658 "Cannot execute "embark run" because module hdkey is missing"
Apologies, this is my first submitted issue.  When trying to execute "embark run" I receive the error
`Error: Cannot find module 'ethereumjs-wallet/hdkey'`

I have installed ethereumjs-wallet and hdkey via npm and still receive this message.  This is my first experience with javascript so, again, I am sorry if this is just be being stupid with npm.

[2018-07-30 05:07] emizzle commented on #658
Please see https://github.com/embark-framework/embark/issues/654. If this is not fixed in the originating package very soon (next 9 hours roughly), we will create a 3.1.6 patch.

[2018-07-30 05:10] emizzle commented on #655
You could try updating your storage config to point to localhost:5002 (instead of 5001). Generally we do not use `js-ipfs`, and instead use the non-javascript version `ipfs`. However if you have a node running and an ipfs API listening on `5002`, there is no reason why it shouldn't work.

[2018-07-30 05:21] emizzle commented on #658
Also - thanks for submitting an issue and trying out Embark!! 🥇

[2018-07-30 06:03] dotnetspec commented on #655
Fixed. Thanks.

[2018-07-30 06:03] dotnetspec commented on #655
Fixed. Thanks.

[2018-07-30 06:03] #655 closed

[2018-07-30 06:17] dotnetspec commented on #657
This was solved by [issue 655](https://github.com/embark-framework/embark/issues/655)

[2018-07-30 06:17] #657 closed

[2018-07-30 08:37] dotnetspec opened #659 "The node you are using does not support Whisper"
I get this error msg in the demo app browser

Node -v: 8.11.3

Embark 3.1.0
Ethereum JS testrpc v2.0.2
Webserver  - localhost:8000
IPFS 0.31.1
all green

How do I address this (hopefully without upsetting the setup above)?

[2018-07-30 11:11] iurimatias commented on #658
@walletdude Thanks for reporting this. We released 3.1.7 which should fix this.

[2018-07-30 11:11] #658 closed

[2018-07-30 11:15] iurimatias commented on #654
Embark 3.1.7 released which should fix this. @dotnetspec please use this instead of the develop branch which can be unstable.

[2018-07-30 12:48] jrainville commented on #652
The problem with a warning is that it's actually a correct behavior to start a blockchain node in another terminal and let embark connect to it. Actually, it was the only behavior before 3.1.

Would a simple info message saying "Found blockchain node at host:port, connecting to it" work for you?

[2018-07-30 12:57] jrainville commented on #659
Did you use `embark simulator`, `embark blockchain` or simply `embark run` when running Embark?

The simulator has some issues with Whisper so that may be just that.

You can run Embark with only  `embark run` and it will start the blockchain node and storage node for you. Please tell me if it works.

[2018-07-30 15:33] liamzebedee commented on #652
It's specifically when a user specifies an environment such as 'development', which entails starting geth, but it's already been started but with entirely different configuration. Maybe two ways to prevent this mistake:

1. Log the message "Found blockchain node at host:port, connecting to it" when we have found one, and the inverse "Did not find existing node. Starting one now..."
2. Keep track o

[2018-07-30 15:37] jrainville commented on #652
You are right, those problems can be frustrating. I'll add an issue on our part to put a message. I'll also try to add a check to see if the network we detected in the same network we wanted.
Thanks for the suggestions.

[2018-07-31 01:01] dotnetspec commented on #659
Thanks. That was it, I had started with the simulator. This time I just ran embark (embark run). Now I only have to start the jsipfs in a separate terminal.

[2018-07-31 01:01] #659 closed

[2018-07-31 05:26] dotnetspec opened #668 "The node you are using does not support IPFS"
Linux Mint 18.3
I upgraded to Embark v. 3.1.7

and changed from jsipfs to go-ipfs

the console now states:
 ipfs process started
│ No node
│ Finished starting all storage providers, with errors

IPFS is now red in available services and the demo app in  browser reports the title error above.

I edited the ./ipfs/config json file as per instructions:
{
  "API": {
    "HTTPHeaders": {
      "Access-

[2018-07-31 12:26] jrainville commented on #668
Is your IPFS that you started using the same host and port that is specified in the config?
Embark reads your storage config and tries to see if at the specified host and port, IPFS is there. If it isn't, it starts it himself.
The default one is:
[code]

[2018-08-01 00:39] dotnetspec commented on #668
I added "http://localhost:5001" to access control allow origin in ./ipfs/config:
"Access-Control-Allow-Origin": [
"http://localhost:8000",
"http://localhost:8545",
"http://localhost:5001",
"ws://localhost:8546"

Now I get "ipfs process started" in the  console and available services all green

However, Embark - Usage Example in browser still has red (not working ) indicators for storage and ens.

[2018-08-01 02:35] emizzle commented on #668
What does `embark version` show you? Is there a possibility you are on the `develop` branch from issue https://github.com/embark-framework/embark/issues/654?

Also, if you go to a browser and load `http://localhost:5001/api/v0/id`, does it return json data?

[2018-08-01 03:05] dotnetspec commented on #668
Embark version: 3.1.7
Environment: development (it should be?)
I have un-installed and re-installed embark as suggested in #654.
Yes,
http://localhost:5001/api/v0/id
does return json data
http://localhost:8000/
still same

[2018-08-01 04:40] Brianspha opened #671 "Embark taking forever to build"
Hi there,

embark seems to be taking an awfully long time to build with the latest update please help

[2018-08-01 04:50] Brianspha commented on #671
Its taking forever to write to the dist/folder just gets stuck forever even with the demo

[2018-08-01 05:25] emizzle commented on #671
To join the video meeting, click this link: https://meet.google.com/utn-gbfw-ekc
Otherwise, to join by phone, dial +1 484-531-2407 and enter this PIN: 774 113 546#

[2018-08-01 05:26] Brianspha commented on #671
With the link its saying i cant join the call

[2018-08-01 05:27] emizzle commented on #671
do you have a google account?

[2018-08-01 05:28] emizzle commented on #416
@rayhvh ,

We have two open issues for this (one with web3 and one with Parity):
https://github.com/ethereum/web3.js/issues/1823
https://github.com/paritytech/parity-ethereum/issues/9263

[2018-08-01 06:28] emizzle commented on #671
To reiterate the issue:

Pipeline stops when it tries to build the js. Have used multiple dapps, including https://github.com/status-im/dappcon-workshop-dapp, and still the pipeline will not complete. @Brianspha mentioned it was working in the past, but has reinstalled embark, tried downgrading etc, and nothing has fixed it.

To me, it seems like an issue with the users (windows) machine. There is

[2018-08-01 07:03] Brianspha commented on #671
I managed to get the screenshot i tried using the above link to call

[2018-08-01 07:05] emizzle commented on #671
Awesome! Can you post it here?

For reference,

1. Pipeline hangs
2. User closes the command prompt window
3. Stack trace written to command prompt just before the window closes

[2018-08-01 07:07] emizzle commented on #671
Did deleting local `node_modules` cache have any effect?

[2018-08-01 07:08] Brianspha commented on #671
Its allot to type out but the first thing it says storage process for ipfs ended before this process code:3221225786

Deleting the node_modules had no effect still the same problem

[2018-08-01 09:27] iurimatias commented on #671
hi @Brianspha , are you on gitter? https://gitter.im/embark-framework/Lobby I can try to help you with whatever issue

typically this pipeline issues are related using sudo & co. did you install npm or embark with sudo at any point? have you used nvm ? https://github.com/creationix/nvm/blob/master/README.md

[2018-08-01 09:29] iurimatias commented on #671
@Brianspha can you confirm you have embark 3.1.7 ?

[2018-08-01 09:32] Brianspha commented on #671
Hi no but i can create an account ive been up all night trying to solve this i have managed to take a screenshot of the error but its too long to type out everything was working yesterday but after the update it stopped working

[2018-08-01 09:34] Brianspha commented on #671
It is the latest verison of embark sorry about that

[2018-08-01 09:52] emizzle commented on #671
Good point @iurimatias, I'm unsure of his node/npm version.

However, he is using windows so sudo was not an issue.

[2018-08-01 10:14] iurimatias commented on #671
@Brianspha if you can't screenshot you can always do `embark run --nodashboard --logfile log.txt` which will output to a file, then send us the file.

[2018-08-01 10:15] iurimatias commented on #671
@Brianspha another thing that can help us debug this in case it's dependency related, is to send the dependency logs, for that do:

1. go to another directory
2. `mkdir test`
3. `cd test`
4. `npm install embark --save`
5. `npm list > npm.txt`

and send us npm.txt

[2018-08-01 12:56] jrainville commented on #671
Hi @Brianspha . I use Windows too (10 in my case) and I just tried using 3.1.7 on the embark demo and everything built correctly for me.

Can you try to run embark with loglevel trace? `embark run --nodashboard --loglevel trace --logfile log.txt`

Then you can either give us the file or copy the logs you get.

Last thing, when you created the demo, did you run `npm install` inside it. I sometimes

[2018-08-01 13:45] dotnetspec commented on #668
Embark version: 3.1.7
Environment: development
I have un-installed and re-installed embark as suggested in #654.
Yes,
http://localhost:5001/api/v0/id
does return json data
http://localhost:8000/
still same

[2018-08-01 17:26] Brianspha commented on #671
![screenshot 59](https://user-images.githubusercontent.com/16640575/43537900-d2e90990-95c0-11e8-88bc-bcd6b76e7ed4.png)

[2018-08-01 17:27] Brianspha commented on #671
Im using the latest npm and node version ive tried everything even on a different account on the same machine no luck still does the same thing

[2018-08-01 17:30] jrainville commented on #671
Can you try with Node 8.11.3? That's the version the team uses.
You can use nvm to switch easily: https://github.com/coreybutler/nvm-windows

Can you try to put `enabled: false` in config/storage.js so that it doesn't try to start IPFS too?

[2018-08-01 20:00] Brianspha commented on #671
Hi yes i am using node 8.11.13

[2018-08-01 21:15] emizzle commented on #671
@Brianspha check this out https://stackoverflow.com/questions/22475849/node-js-error-enospc. Do you space on your drive??

[2018-08-01 21:42] emizzle commented on #671
@Brianspha  - throwing random ideas out here, but based on strange your issues you are having, could you tell us what your computer specs are? CPU/RAM/HDD space?

Have you tried restarting your computer?

[2018-08-02 04:00] Brianspha commented on #671
I have enough space on my laptop over 250 GB
Im running an i5-5200U CPU running at 2.20GH
Dual Graphics
8GB Ram
Windows 8.1

[2018-08-02 04:48] Brianspha commented on #671
Heres the link to the rep
https://github.com/Brianspha/Yey-WenaV2

[2018-08-02 04:51] Brianspha commented on #671
Nothing works even my previous projects ive tried resetting to an earlier point before the update still no luck :( really frustrating i updated embark which is what caused the issue

[2018-08-02 05:40] emizzle commented on #671
This builds and runs no worries for me on 3.1.7. Let's see if @jrainville , @michaelsbradleyjr , or @alaibe  can run this ok with windows...

@michaelsbradleyjr is also working on a docker image that should be available (to at least test) and will be a complete working container that you can use to at least keep working on your solution. There's no other computer you might be able to try?

[2018-08-02 12:50] jrainville commented on #671
I tried your project too on Windows 10 with Embark 3.1.7 and was able to make it work.

It's a bit intense, but at that point, we don't have many other solutions since your problem is really hard to track. Can you try to uninstall nvm, node, npm, embark. Pretty much everything that's node related.

The reason is, the only time we've had a problem similar to yours, the issue was related to node's i

[2018-08-03 15:08] jrainville commented on #652
FYI, we merged https://github.com/embark-framework/embark/pull/670 yesterday.
It warns when there is a mismatch in network IDs from your config and the node.
It will be released with 3.2 which is soon:tm:

[2018-08-03 18:06] Brianspha commented on #671
Hi there i have freshly installed windows 10 but still the same problem i have given up

[2018-08-03 18:13] michaelsbradleyjr commented on #671
@Brianspha one thing you could try is installing [Docker for Windows](https://docs.docker.com/docker-for-windows/install/), then doing a custom build of the [embark container](https://github.com/embark-framework/embark-docker) (necessary for the moment, until embark 3.1.8 is released). Then attempt to run your dapp inside the Linux container.

If you're interested in trying that, I can provide the

[2018-08-04 00:55] Brianspha commented on #671
Hi there,

I would like to thank all of you for the help i finally got it to work by moving back 2 versions of nodejs only then did it work.

Thank you

[2018-08-04 00:55] #671 closed

[2018-08-06 12:48] jrainville commented on #671
Very happy you finally managed to make it work.
Just for future reference, which version of node do you have now? In case some other user has your problem, we can point them to that version.

[2018-08-06 13:54] Brianspha opened #679 "Node Js throwing unhandled Exception even when handled"
## Overview
**TL;DR**
Hi there i recently reinstalled windows 10 as well as node but each time i run into a problem in my smart contracts node thorws this error and i am unable to get pass this or rather it doesnt compile app.js
### Extra Detail
(node:10920) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a

[2018-08-06 15:12] jrainville commented on #679
Could you run embark with `embark run --nodashboard --loglevel trace` and post the logs here please. That way, we can see the exact step that failed. Thanks.

[2018-08-06 15:33] Brianspha commented on #679
finished
deploying contracts
deploying HelperFunctions with 6000000 gas
HelperFunctions deployed at 0x04D45b51fe4f00b4478F8b0719Fa779f14c8A194
deploying Ownable with 6000000 gas
Ownable deployed at 0x10Aa1c9C2ad79b240Dc612cd2c0c0f5513bAfF28
deploying Farmer with 6000000 gas
Farmer deployed at 0xd8a512EBD6fd82f44dFFD968EEB0835265497d20
deploying Grower with 6000000 gas
Grower deployed at 0x49474873

[2018-08-07 16:57] Brianspha commented on #679
@jrainville  @iurimatias  any idean???

[2018-08-07 18:54] jrainville commented on #679
When you say that you have the latest Embark, you mean 3.1.7 right (the one installed globally using `npm install -g embark`). Just want to make sure, because if you mean `develop`, it could be normal because it can be unstable.

Also, did you just run `embark run` or did you start a blockchain node in another terminal with `embark blockchain` or `embark simulator`.

Finally, what is your exact ve

[2018-08-07 19:02] Brianspha commented on #679
Yeah im also using the same version but it throws the error regardless

[2018-08-07 19:07] Brianspha commented on #679
I first run embark blockchain then embark run --nodashboard

[2018-08-07 19:16] jrainville commented on #679
The repo that I shared, is it the one that you tried to run with (https://github.com/Brianspha/Yey-WenaV2)?
If not, can you share yours so that I can try it.

Lastly, if you run the embark demo (`embark demo`), does it work?
If so, the error is most likely related to your Dapp, but the error message is really bad, so that's our fault.

[2018-08-07 20:28] Brianspha commented on #679
https://github.com/Brianspha/Yey-Wena Heres the repo  ive tried downgrading my node version but the error keeps poping up  even the demo is not working it complained about not having a valid provider so i had to set it via code then it complained with **Unhandled rejection Error: No "from" address specified in neither the given options, nor the default options.** which even after i have set node s

[2018-08-07 20:39] jrainville commented on #679
I tried your repo and it works for me. So your Dapp is fine.

Now, it might be a node and/or permission problem.
Did you install Node using NVM? I highly recommend you do, that way we can isolate the version and also change version. https://github.com/coreybutler/nvm-windows (better to uninstall Node before install nvm)

Also, when installing node and Embark, make sure you are NOT in administrator

[2018-08-07 22:42] Brianspha commented on #679
Tried installing with nvm still shows the same error ive tried a previous node version no change

[2018-08-07 22:45] Brianspha commented on #679
we can do a screen share this is honestly frustrating one

[2018-08-08 12:25] jrainville commented on #679
Whenever you are ready to screen share, give me a ping here: https://gitter.im/embark-framework/Lobby
I'll be available for the next 8 hours.

[2018-08-08 12:57] Brianspha commented on #679
Just did

[2018-08-08 15:14] Brianspha commented on #679
Thank you guys for the help to anyone else who may encounter a similar issue make sure your js file is named index on both sides i.e. **js/index.js : app/js/index.js **  should be good to go

[2018-08-08 15:14] #679 closed

[2018-08-09 02:20] kylerchin opened #687 "Install failed on Npm"
## Overview
Bad install due to |"Permission Denied"
### Extra Detail

#### Steps to reproduce
1. Linux Ubuntu 19.04 with Current NodeJS NPM
2. ```npm install -g embark```

#### Logs```
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'install', '-g', 'embark' ]
2 info using npm@6.2.0
3 info using node@v10.8.0
4 verbose npm-session 614440a092921a88
5 silly instal

[2018-08-09 02:36] emizzle commented on #687
@kylerchin, did you install Node via nvm?

We recommend installing Node via nvm (https://github.com/creationix/nvm) as the easiest way to avoid npm permissions issues. See https://docs.npmjs.com/getting-started/fixing-npm-permissions for more info.

[2018-08-09 05:53] kylerchin commented on #687
@emizzle Looks like nvm didn't fix it, but changing the npm directory to fix the permissions error worked! Thanks!

[2018-08-09 05:58] kylerchin commented on #687
@emizzle looks like fixing the npm permissions helped out, I can install other packages globally such as truffle and js-hint, just not embark framework.

        root@pop-os:/home/kyler/optasolar/solar-app# npm -g install embark
        npm WARN registry Using stale data from https://registry.npmjs.org/ because the host is inaccessible -- are you offline?
        npm WARN registry Using stale pack

[2018-08-09 12:29] jrainville commented on #687
Can you try to install a new version of Node (eg: 8.11.3, that's the one we mostly use), preferably with NVM,  and tryto see if you still get the permission denied?
Also, make sure to not install with sudo or with Administrator.

[2018-08-09 21:18] kylerchin commented on #687
@jrainville I always use the current version v10.8.0., but when I tried running ```npm install -g embark```, using v8.11.3 this happened:
npm WARN deprecated babel-preset-es2017@6.24.1: 🙌  Thanks for using Babel: we recommend using babel-preset-env now: please read babeljs.io/env to update!
npm WARN deprecated babel-preset-es2016@6.24.1: 🙌  Thanks for using Babel: we recommend using babel-preset-e

[2018-08-11 09:54] JosefJ commented on #687
Have you tried the suggested nvm way?
See: https://github.com/creationix/nvm
[code]
reenter bash
[code]

[2018-08-12 03:42] sagarjethi opened #697 "Cannot Copy Errors or Other Info From Dashboard Ubuntu 16.04"
## Overview
When using `embark run`, everything works well, but I cannot copy any of the errors with webpack etc and search for them easily when running into compilation problems etc. I also cannot copy any of the addresses or other information I might be interested in looking up outside the dashboard.

### Extra Detail

#### Steps to reproduce
1. Open terminal on Ubuntu 16.04
2. Clone the DTwitte

[2018-08-12 12:50] jrainville commented on #697
Hi. We sadly know that the dashboard has some issues related to copying. Some terminals have less problems, but it's never perfect.
If you want to copy more easily, you can always run with `embark run --nodashboard`.
It will disable the dashboard and you will see all the logs without having to scroll. The only downside is that you can't see the service states and you can call commands. But if you

[2018-08-14 17:07] iurimatias commented on #697
@sagarjethi what terminal are you terminal? the dashboard logs should be scrollable, is the scroll not working? you typically can copy by holding the alt key while selecting what you want to copy.

As an alternative you can also run embark without the dashboard with `embark run --nodashboard`

[2018-08-17 15:10] yervantk commented on #509
In case someone else comes here, the problem was that embark itself could not find scrypt. (Embark has its own `node_modules` folder).
I don't know how many of the below steps are actually necessary, but they worked for me:

1. Delete the local project's `node_modules`,
2. Uninstall embark globally `npm uninstall -g embark`
3. Rerun `npm install` in the project folder
4. Rerun `npm install -g emba

[2018-08-19 05:52] shahthepro opened #721 "/usr/bin/env: ‘node\r’: No such file or directory"
## Overview
I installed embark using the command `sudo npm install -g embark`. Everything went fine. However, when I run `embark`, I am getting the following error.

[code]

Tried uninstalling and reinstalling the module. Still the name.

#### Context (Environment)
* OS: Ubuntu Budgie 18.04.1
* Node Version: 8.10
* NPM Version: 3.5.2

[2018-08-19 05:55] michaelsbradleyjr commented on #721
@shahthepro, can you try installing Node.js via [nvm](https://github.com/creationix/nvm)?

We recommend installing Node via [nvm](https://github.com/creationix/nvm) as the easiest way to avoid npm permissions issues. See [fixing-npm-permissions](https://docs.npmjs.com/getting-started/fixing-npm-permissions) for more info.

[2018-08-19 06:02] michaelsbradleyjr commented on #721
After node has been installed via nvm, don not use `sudo` to install embark, just:

[code]

[2018-08-19 06:25] shahthepro commented on #721
One more thing. I ran `embark demo` to create the demo dapp. And then ran `npm install` and `embark run`, It is stuck at `writing file dist/index.html` for a long time.

[2018-08-19 06:34] michaelsbradleyjr commented on #721
There is generally no need to run `npm install` within the `embark_demo` directory, as the template-install procedure does that automatically.

But there is presently a "bug" (of sorts) in the demo. One of its dependencies, `react-bootstrap`, has run afoul of breaking changes in babel 7 rc 1. So, you probably need to drop the caret range `^` for `react-bootstrap` in your `embark_demo`'s `package.j

[2018-08-19 08:42] shahthepro commented on #721
Thank you very much @michaelsbradleyjr :)

[2018-08-19 08:42] #721 closed

[2018-08-20 14:21] iurimatias commented on #721
This has now also been fixed in 3.1.10

[2018-08-21 04:39] dotnetspec opened #725 "webpackUniversalModuleDefinition interferes with js src file in dist folder"
## Overview
I import a js file:
 <script src="js/xml-doc-ops.js"></script>
embark writes it to the dist folder and adds extra lines of js to the file which breaks the js code I want to use.

### Extra Detail
I manually copied the js file from app to dist which momentarily 'fixed' the problem.
if I change
"js/app.js": ["app/js/index.js"], (which only contains 'import EmbarkJS from 'Embark/EmbarkJS'

[2018-08-21 14:51] jrainville commented on #725
Could you copy your embark.json config here so that we can analyze how you copy your JS file to the Dapp. Also, is xml-doc-ops.js a file that has already been processed by a file processor (eg: minifier, babel, etc)

[2018-08-22 07:18] dotnetspec commented on #725
embark.json:
{
  "contracts": ["contracts/**"],
  "app": {
	 "css/app.css": ["app/css/**"],
	    "js/app.js": ["app/js/index.js"],
	  "js/xml-doc-ops.js": ["app/js/xml-doc-ops.js"],
	  "xml/individual_rankings.xml": ["app/xml/individual_rankings.xml"],
    "images/": ["app/images/**"],
    "index.html": "app/index.html"
  },
  "buildDir": "dist/",
  "config": "config/",
  "versions": {
    "web3":

[2018-08-23 00:39] dotnetspec commented on #725
https://github.com/dotnetspec/ethdappsr
Thx

[2018-08-23 13:09] jrainville commented on #725
I just tried your project and I think I managed to make it work ok.
I created a PR to your project from a fork I created: https://github.com/dotnetspec/ethdappsr/pull/1
You will see that I removed the files that are typically gitignored.
For the fix, I added the missing XML file in embark.json and also added `<script src="js/xml-doc-ops.js"></script>` back in the html file and it compiles just fin

[2018-08-27 20:56] Brianspha opened #748 "Thanks for using Babel: we recommend using babel-preset-env now: please read babeljs.io/env to update! npm ERR! Unexpected end of JSON input while parsing near '...},"6.0.5":{"name":"ba' npm ERR! A complete log of this run can be found in: npm ERR!"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering.>
embark fails to install
npm WARN deprecated babel-preset-es2017@6.24.1: 🙌  Thanks for using Babel: we recommend using babel-preset-env now: please read babeljs.io/env to update!
npm ERR! Unexpected end of JSON input while parsing near '...},"6.0.5":{"name":"ba'

npm ERR! A complete log of this run can be fou

[2018-08-27 20:59] michaelsbradleyjr commented on #748
@Brianspha, can you provide more information re: OS, Node Version, NPM Version?

[2018-08-27 23:33] Brianspha commented on #748
@michaelsbradleyjr sorry about that I clicked submit without completing the form I’ve updated the details

[2018-08-28 00:28] michaelsbradleyjr commented on #748
Thank you. I should have asked this of you previously, my apologies, but can you create a [gist](https://gist.github.com/) of your `C:\Users\User\AppData\Roaming\npm-cache_logs\2018-08-27T20_30_44_418Z-debug.log` and share the link in a follow-up comment here?

[2018-08-29 10:10] dotnetspec commented on #725
I had to spend a bit of time with Git. [Would you mind re-examining the import script branch? ](https://github.com/dotnetspec/sportrank/tree/import_script)... fyi I deleted the earlier branch ... thx
I'm still trying to reference javascript from a source file rather than directly in the index.html page which throws an 'undefined reference error' relating to a function (checkMyChallengeOpponent())

[2018-08-29 12:42] jrainville commented on #725
Hi, I found the problem and the solution.

Basically, since you are calling the function from an `onclick` that is added to the HTML, it loses it's binding to the original script. So the only functions it can call are functions in the `document`.
Since we run the files though Webpack, each file gets put in kind of isolation, so that if one file has a function `getName()`, another one can also have

[2018-08-29 14:09] dotnetspec commented on #725
thx Jonathan, that fixed it ...

[2018-08-29 14:09] #725 closed

[2018-08-31 13:20] iurimatias opened #760 "Update Spanish Translation"
### Ouline

Translate the english values [es.json](https://github.com/embark-framework/embark/blob/develop/locales/es.json) to Spanish. (file is already partially translated)

Note: Do not use google translate, the translation will be verified by native spanish speakers

[2018-08-31 13:21] iurimatias opened #761 "Update French translation"
### Ouline

Translate the english values [fr.json](https://github.com/embark-framework/embark/blob/develop/locales/fr.json) to French. (file is already partially translated)

Note: Do not use google translate, the translation will be verified by native french speakers

[2018-08-31 13:21] iurimatias opened #762 "Update Portuguese translation"
### Ouline

Translate the english values [pt.json](https://github.com/embark-framework/embark/blob/develop/locales/pt.json) to Portuguese. (file is already partially translated)

Note: Do not use google translate, the translation will be verified by native portuguese speakers

[2018-08-31 13:23] iurimatias opened #763 "Support IPFS imports in solidity"
### Outline

Embark supports special solidity imports as outlined in the documentation [here](https://embark.status.im/docs/contracts_imports.html).
The goal of this task is to support solidity file imports with ipfs URIs just like it's currently support for HTTP and git, for e.g

[code]

### Acceptance Criteria

* It should support any valid IPFS URI
* it should not use an external webservice, it

[2018-08-31 13:25] iurimatias opened #764 "cmd to show in the dashboard the logs of a subprocess"
### Outline

Currently when running `embark run`, embark will automatically start an ethereum node, ipfs, etc.. However the log output of these will be hidden. The goal of this task is to add a console command that can enable displaying these logs in embark.

Use case:

1. `embark run`
2. `log geth on` => starts displaying logs for geth node started by embark
3. `log geth off` => stops displaying

[2018-08-31 13:26] iurimatias opened #765 "support git & github branches in the templates downloader"
### Outline

In Embark (develop branch), it's possible to specify a template when creating a new project. for e.g `embark new dwitter --template https://github.com/status-im/dappcon-workshop-dapp/` will create a new project with the contents of [https://github.com/status-im/dappcon-workshop-dapp/](https://github.com/status-im/dappcon-workshop-dapp/).

The goal of this task is to support git URIs &

[2018-08-31 13:28] iurimatias opened #766 "Support Swarm imports in solidity"
### Outline

Embark supports special solidity imports as outlined in the documentation [here](https://embark.status.im/docs/contracts_imports.html).
The goal of this task is to support solidity file imports with Swarm URIs just like it's currently support for HTTP and git, for e.g

[code]

### Acceptance Criteria

* It should support any valid Swarm URI
* it should not use an external webservice,

[2018-08-31 13:29] iurimatias opened #767 "manage plugins through the embark console"
### Outline

The goal of this task is to support a new embark console command so that typing `plugin install pluginName` into the embark console will automatically install a plugin.

### Acceptance Criteria

* The console command `plugin install pluginName` should be the equivalent to 1. `npm install --save pluginName` 2. adding the plugin to `embark.json` (see [documentation](https://embark.statu

[2018-08-31 13:34] iurimatias opened #768 "support nodejs REPL console inside neo-blessed"
### Outline

Currently the embark dashboard (shown in `embark run`) has a log section and a input field to type commands. This input field is not very good as it doesn't support going back with a cursor to correct something, history is limited, there is no autocomplete, etc.. On the other hand `embark console` (available develop branch) is a full featured REPL.

The goal of this task is to support

[2018-08-31 13:37] iurimatias opened #769 "utility to convert color strings to html spans"
[code]

[code]
=> `<span class="red bold">hello <span class="underline">world</span></span>`

[2018-08-31 22:14] #769 closed

[2018-09-02 15:06] iurimatias opened #773 "Support parity"
### Outline

Currently the `embark blockchain` cmd as well as `embark run` launch a geth node by default.  There is a `-c` option to specify the client, however only geth is currently supported. The goal of this task is to add support for parity such that `embark blockchain -c parity` will run a parity node with the options configured in `config/blockchain.js` and with the same functionality suppo

[2018-09-02 15:16] iurimatias opened #774 "Support large file uploads to IPFS"
### Outline

Currently attempting to upload a large file to IPFS through EmbarkJS api (see [uploading file in documentation](https://embark.status.im/docs/storage_javascript.html#Upload-a-file)) will get the browser stuck. The goal of this task is to fix the code so it can support large file uploads to decentralized systems, namely IPFS.

### Acceptance Criteria

* Uploading a file larger than 1GB

[2018-09-03 14:50] vongohren opened #777 "None of your initial demos work out of the box"
## Overview
**TL;DR**
I tried the embark demo, and embark new TokenFactory, but there is something missing in both cases.
Embar demo just says failed to deploy contract without any information why. That is right after a initialization and trying to run a run.

The token factory fails hard with the same error referenced here: https://github.com/embark-framework/embark/issues/462
Pluss an extra unca

[2018-09-04 13:27] jrainville commented on #777
For the Ethereum node, what did you use? `embark blockchain` or `embark simulator`.
Also, what is the version of Geth/Ganache CLI you have installed?

[2018-09-04 13:41] vongohren commented on #777
I see the problem now. You are saying this "First of all, make sure you have Go-Ethereum and Embark installed." But when running `simulator` on the side, because `blockchain` did not find my geth.

Me confirming they are existing on my MAC. But nothing about that there is acctually have to be a blockchain runnning, and if you dont have geth installed globally, then embark run cannot start that for

[2018-09-04 14:32] status-open-bounty commented on #761
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x95887c4b16fe87649245564b2242618b5c3e34a5d9ed79b0ff880b2ccffd4b1e](https://etherscan.io/tx/0x95887c4b16fe87649245564b2242618b5c3e34a5d9ed79b0ff880b2ccffd4b1e)

[2018-09-04 14:33] status-open-bounty commented on #762
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xd750eb46e3f17bd9e944b732612f2b6f3ac1f799419c6c5bd66cf678bf3c2718](https://etherscan.io/tx/0xd750eb46e3f17bd9e944b732612f2b6f3ac1f799419c6c5bd66cf678bf3c2718)

[2018-09-04 14:33] status-open-bounty commented on #760
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x041bfdd440b8b17ba6eed1c7c4263ca6352391c41df18c77c576c34d8106282c](https://etherscan.io/tx/0x041bfdd440b8b17ba6eed1c7c4263ca6352391c41df18c77c576c34d8106282c)

[2018-09-04 14:56] jrainville commented on #777
`embark run` does start a Geth node for you when it cannot find it already running.

In your logs, I don't see it starting, so I'm guessing you already started either Geth or a simulator in another process.

I'm not sure I understand what you mean in your last comment, does Geth not work for you? Because it is usually better to use Geth than the simulator

[2018-09-04 15:01] vongohren commented on #777
Well now I cant remember the exact state I was in when trying this. But the thing is that I dont have geth registred as a global var. It just sits in my folder with my chain data. So embark would never find it. But I might have had a geth running cause I have been trying to sync Rinkeby for days now, but when syncing, I have gotten strange behaviour from contracts and scripts.

So that might be a

[2018-09-04 15:28] jrainville commented on #777
Yeah, if Geth was running already, especially in a chain that is not dev (which means that your account might have no funds), it would fail to deploy. Though, the error should have been something like "Unsufficent funds".

Either way, try again by setting `geth_bin` in config/blockchainConfig.js to the path where Geth is, or just put Geth in your Path. After that, `embark run` will start a blockch

[2018-09-04 16:52] rahulpat commented on #766
Hi @iurimatias, interested in this. Also new to your codebase. What's a good place to start digging around?

[2018-09-04 18:32] eiselems commented on #765
@iurimatias just let me know when I can start to work

[2018-09-04 19:56] ParthS007 commented on #761
@iurimatias  Please approve my application and review my Pull request #780 related to it.

[2018-09-05 03:03] pinkiebell commented on #768
@StatusSceptre
No problem 👍
@lastmjs has the favour, let me know if you need help 😃

[2018-09-05 05:29] kziemianek commented on #774
Hello embark! this is my first contribution to this repository.
I will try to replicate problem, then i'll apply suggested solution.

[2018-09-05 12:02] kziemianek commented on #774
Seems like we need to wait for https://github.com/ipfs/js-ipfs-api/pull/851
The problem is sumarized here : https://github.com/ipfs/js-ipfs-api/issues/842

[2018-09-06 18:51] #777 closed

[2018-09-06 18:55] iurimatias commented on #748
@Brianspha are you still experiencing this issue?

[2018-09-06 18:55] #748 closed

[2018-09-06 18:56] #687 closed

[2018-09-06 18:57] iurimatias commented on #668
@dotnetspec are you still experiencing this issue?

[2018-09-06 18:57] #652 closed

[2018-09-06 18:57] #650 closed

[2018-09-06 18:57] #765 closed

[2018-09-06 19:04] StatusSceptre commented on #765
Thank you so much for the work on this @eiselems could you drop your contact code for status on here so we can send you the SNT bonus at the end of the embark bounties? Thanks!

[2018-09-07 01:18] dotnetspec commented on #654
I just did:
npm uninstall -g embark
npm install -g embark
and I'm now running on version 3.1.10
same problem still there (whisper has now also gone from green to red on the tab)

[2018-09-07 02:37] vs77bb commented on #774
@iurimatias Do you agree that we have a blocker here? Thanks for digging around, @kziemianek!

[2018-09-07 02:38] vs77bb commented on #773
Hi @karankohli13 glad to have you working here! Would love to hear about your progress / next steps -- let us know when a WIP PR is ready for review 🙂

[2018-09-07 02:40] vs77bb commented on #764
Hi @MJ10 looking forward to seeing your progress here! Let us know if you have any questions / when things are ready for review :+1:

[2018-09-07 02:42] vs77bb commented on #767
Hi @sameer2800 please let us know if you have any questions / when you have a PR open for review :+1: 🙂

[2018-09-07 02:43] vs77bb commented on #766
Hi @vyomshm we're excited to see your progress here! Please let us know if you have any questions as you progress.

[2018-09-07 02:43] vs77bb commented on #763
Hi @PumpingWok glad to see you here. Please do keep us posted on progress, excited to see this one picked up 🙂

[2018-09-07 02:45] vs77bb commented on #761
Hi @schweigert excited to see your contribution here! Let us know when it's ready for review :+1:

[2018-09-07 02:46] vs77bb commented on #760
Thanks for the quick turnaround @santteegt! @iurimatias and team will review shortly :+1:

[2018-09-07 02:47] vs77bb commented on #768
Both great candidates! @lastmjs glad to see you here - don't hesitate to reach out with questions as you progress 🙂

[2018-09-07 02:48] vs77bb commented on #762
@gustavodiel Glad to see this progressing quickly! I think the Status team's review is complete -- some comments to be addressed :+1:

[2018-09-07 02:50] lastmjs commented on #768
Sounds good, I just started familiarizing myself with the codebase, I should make significant progress tomorrow

[2018-09-07 02:51] vs77bb commented on #765
@StatusSceptre [Gitcoin's Tip](http://gitcoin.co/tip) feature is also an option here to go through Github handles, but whatever works best 🙂

@eiselems Great work here! Would love to have you on [Gitcoin Slack](gitcoin.co/slack) to tag you for future bounties + be on the lookout for a new batch of Embark bounties next week!

[2018-09-07 02:58] MJ10 commented on #764
Hey. I'm currently just going through the relevant codebase to get a better
understanding of what's going on. Will start work as soon as that's done. I
plan to finish the issue hopefully by the end of this week. I'll keep you
guys updated here!

On Fri, Sep 7, 2018, 08:10 Vivek Singh <notifications@github.com> wrote:

[2018-09-07 13:50] eiselems commented on #765
@StatusSceptre give me a day or so to install it and set it up (managing keys, phrases is not that easy on the go).

@vs77bb lets see how it works out 👍

[2018-09-07 13:55] PumpkingWok commented on #763
Hi @vs77bb , yes sure.
I'm looking in it, I'll keep update this issue with my progress. Thanks in advance !!

[2018-09-07 17:41] eiselems commented on #765
@StatusSceptre here you go my status code 0x043fc5f0224b1ddbf3a5a897821169d7aad192b1111f095b9bc41854896ce221caf4e7b080d399a500517a2f9cf902722de6a07e7b428b1bd630b3af634402df2a

[2018-09-07 22:01] lastmjs commented on #768
Update: I've gotten rid of the console input, and I have the node REPL outputting to the Log area, though jankily.

[2018-09-08 04:32] subramanianv commented on #767
@iurimatias I would like to tackle this issue if its still open.

[2018-09-08 19:14] vyomshm commented on #766
@vs77bb Thanks. I'll submit a WIP PR as soon as I make some progress.

[2018-09-08 20:34] lastmjs commented on #768
I want to get some thoughts on whats going on. I don't know if it's the best idea to get rid of the console section and consolidate it into the log section. The reason is that logs can come from various places in the application at various times. If the repl is inside of the log container, then what you're currently typing could be written over at any time by a random log. If we separate the log a

[2018-09-08 22:01] lastmjs commented on #768
To get this to work, I think I'm going to need to use a `blessed.terminal`, and to get that to work I need the dependency `pty.js`. Unfortunately, `pty.js` has some V8 compatibility issues (it doesn't work with my version of Node.js 10). I installed the latest Node.js 8 and the V8 compatability issues are gone.

Track this issue: https://github.com/chjj/pty.js/issues/195

[2018-09-09 05:54] subramanianv commented on #767
@iurimatias So for developing, make code changes and run ```./../../bin/embark console``` inside test_app ?

[2018-09-09 12:08] pinkiebell commented on #768
@lastmjs
If you pass a `handler: function(){}` to blessed.Terminal, then you don't need pty.js 👍 .

[2018-09-09 13:26] iurimatias commented on #767
yeah, typically you can go inside `test_apps/test_app` and run `../../embark console` or `../../embark run`

[2018-09-09 13:32] iurimatias commented on #768
@lastmjs I need to consult the team about this

[2018-09-09 13:41] iurimatias commented on #774
@kziemianek @vs77bb IMO fixing it it in js-ipfs-api if necessary can be considered part of the bounty.

[2018-09-09 13:46] iurimatias commented on #773
@karankohli13 feel free to join us at https://gitter.im/embark-framework/Lobby to chat about this.

[2018-09-09 18:01] subramanianv commented on #767
@iurimatias I have made a early PR, just to make sure that my approach is correct. I am loading the plugin command module as an internal plugin through registerModule. Is this approach correct ?

Next I'll add the code to install new npm packages and also change the embark config file

[2018-09-09 18:56] iurimatias commented on #768
@lastmjs alright it makes sense.

[2018-09-10 11:42] schweigert commented on #761
@vs77bb I'm now working on this PR. I will soon open a pull request.

[2018-09-10 13:55] kziemianek commented on #774
@iurimatias it's getting solved in linked PR. What can be done here is ipfs-api version bump and verification after release of a the feature in ipfs-api. If it's ok for You I can keep an eye on it.

[2018-09-10 21:49] lastmjs commented on #768
Alright, things are working pretty well. Looks like I just need to clean up and figure out styling, I'll get a PR up today to start looking at

[2018-09-11 15:05] iurimatias commented on #773
@Neurone

1. Ideally both but if they are *that* different, and if 2.0 will come out of beta by end of september, then 2.0 is preferable
2. you can consider it's already installed. It's up to you the user to install it.
3. you should use `develop` branch.

[2018-09-11 16:14] iurimatias commented on #764
@MJ10 correct `log geth on` should start showing the geth logs, `log geth off` should stop showing them

[2018-09-11 16:43] vs77bb commented on #761
Thanks for the update @schweigert!

[2018-09-11 16:53] vs77bb commented on #766
@vyomshm Can you let us know when to expect a WIP PR? The issue expires in 23 days, so we're looking to ensure this gets a WIP PR by this workweek so we can begin the review process 👍

Hope you're doing well!

[2018-09-11 21:40] lastmjs commented on #768
I tracked the issue I was having above down to the height property of the terminal...seems like a height of 4% is causing the error

[2018-09-12 13:24] iurimatias opened #816 "Support unit parsing in all relevant configs (e.g "10 ether", "200 wei", etc..)"
### Outline

A lot of configurations in embark need to define an amount in wei. The goal of this task is to support specifying these values as a nice string of the type "\<number\> \<unit\>"  for e.g "200 finney".
The code for this is already available in embark in the utils class [here](https://github.com/embark-framework/embark/blob/develop/lib/utils/utils.js#L381). The goal is to support this f

[2018-09-12 13:38] iurimatias opened #817 "Support Solidity Tests (Remix-Tests lib)"
### Outline

The goal of this task is to integrate [remix-tests](https://www.npmjs.com/package/remix-tests) with Embark.

### Acceptance Criteria
* running `embark test` should run the js tests as it does now, but also any solidity test files inside the `test/` folder and subfolders whose filename matches `*_test.sol`
* running `embark test --solc` will run *only* the solidity tests

[2018-09-12 21:57] #767 closed

[2018-09-12 23:56] kziemianek commented on #774
@iurimatias seems like ipfs-api version bump will be required to get this working, embark is currently at 17.x.x while ipfs-api most recent is 24.x. Would it be a problem ?

[2018-09-13 08:10] subramanianv commented on #817
@iurimatias Remix-tests have not been integrated before into embark ?

[2018-09-13 11:52] iurimatias commented on #817
@subramanianv n. Remix-tests is fairly new

[2018-09-13 11:52] iurimatias commented on #817
@subramanianv You should be able to integrate easily using it as a library.

[2018-09-13 12:11] subramanianv commented on #817
@iurimatias Thanks for the reply. I looked at remix-tests on github. There is a function ```runTestFiles``` and ```runTest```
runTestFiles does the compilation using remix-compiler and runs the tests. We can use runTest. But we need to transform the contracts object and also insert the remix_tests.sol into the test contracts.

Can we go with runTestFiles for the this particular task or we need to

[2018-09-13 12:52] kpulkit29 commented on #816
I have gone through the code in util.js can U please give a brief of what file needs to be changed

[2018-09-13 13:09] iurimatias opened #825 "Create a module/plugin to support deployment with the Ledger Hardware Wallet"
### Outline

The goal of this task is to create a module/plugin for [Embark](https://embark.status.im/docs/) that supports deploying smart contracts authorizing each of them to deploy with a Ledger Hardware Wallet.

The [deployment config](https://embark.status.im/docs/contracts_deployment.html#Using-accounts-in-a-wallet) in `config/contracts.js` should be something like:

[code]

then, with the L

[2018-09-13 15:20] mul1sh commented on #825
@iurimatias ready to start working on this and turn it around quickly, so hoping i'll be considered. thanks 🙂

[2018-09-13 19:28] PumpkingWok commented on #763
Hi there,
Yes, I still working on it.I have already done the issue and now I'm trying to implement it in another way.I'm going to open a PR in max one day.Thanks.

[2018-09-13 19:39] vyomshm commented on #766
👍 I'm on track to submit a WIP PR by this sunday.

[2018-09-13 20:58] iurimatias commented on #817
@subramanianv It should be `runTest`, through the embark API you'll have everything you need to build the contract object (or even have the contract object already). We can discuss on the [gitter channel](https://gitter.im/embark-framework/Lobby) if you need further info.

[2018-09-14 06:45] kpulkit29 commented on #816
I have seen the method Please explain which file needs to be modified???

[2018-09-14 13:10] jrainville commented on #816
The changes need to mostly be in `core/config.js`, but the goal of the bounty is also for you to find if there would be other places that we forgot to specify that would require the conversion too.

[2018-09-14 14:25] iurimatias opened #832 "Add browser reload on file change/rebuild"
### Outline
The goal of this task is add a browser reload mechanism to a development dapp whenever embark rebuilds it.

### Expected Implementation

A websocket endpoint should be added to the development webserver that hooks into the outputDone event. Using the API, a js code that listens to this endpoint and refreshes when the event comes through can be injected into dapps in development mode.

[2018-09-14 14:51] StatusSceptre commented on #825
@mul1sh approved. However please joins us at the [gitter channel](https://gitter.im/embark-framework/Lobby) to chat about this.

[2018-09-14 16:38] iurimatias opened #834 "ENS console command"
### Outline

The goal of this task is to support interacting with ENS in the embark console (in `embark run` or `embark console`. A lot of the functionality is *already* supported in embark so this task would involve mostly registering particular commands using the embark api and interacting with ENS through the *existing* functionality (not re-implementing interactions with ENS)

### Expected Imp

[2018-09-14 17:02] Neurone commented on #773
Sure, I'm actively working on this 😃

[2018-09-14 20:08] vs77bb commented on #832
@stevenJNpearce glad to see ya here, good luck 🙂

[2018-09-14 20:15] StevenJNPearce commented on #834
@iurimatias I'm currently working on #832 , I would be happy to take this issue, but thought I would check with you first if you would prefer to parallelize the work and have someone else pick it up?

[2018-09-14 20:28] vs77bb commented on #773
Thanks for the response @Neurone -- seeing a WIP PR sooner than later is always great 🙂

[2018-09-14 20:29] vs77bb commented on #764
Hi @MJ10 how is progress going here? We'd love to see a WIP PR soon to start providing feedback 🙂

[2018-09-14 20:30] vs77bb commented on #766
Great to know, thanks @vyomshm 👍

[2018-09-14 20:30] vs77bb commented on #763
Thanks for the update, @PumpkingWok 👍

[2018-09-14 20:32] MJ10 commented on #764
Hey. I am working on it. Have started implementing it in the webserver module. Will send a PR as soon as I have a few modules working.

[2018-09-14 21:29] iurimatias commented on #768
Hi @lastmjs

We discussed & analyzed this and we feel that separating the logs is not the way to go as it would cause other problems. However we experimented with this and it seems that when the input is at the right height, all the issues reported pretty much disappear. for e.g setting it to 5% for a good height pretty much fixes all issues including the overflow, except the autocomplete (if ther

[2018-09-14 21:30] iurimatias commented on #768
Another solution involves changing/improving the "css" layout of the dashboard so the input size is always correct.

[2018-09-14 21:31] andremedeiros commented on #768
Hey @lastmjs, I have a minimal proof of concept that'll show you something that could make your life a lot easier. Effectively we want to keep the size of the REPL box constant. This snippet got me there (contracts is fixed, logs is flexible, REPL is fixed.) Try running this and resizing your terminal to see what I mean.

[code]

[2018-09-14 21:41] iurimatias commented on #834
@StevenJNPearce you can apply for both, no issue with that

[2018-09-14 21:41] maektwain commented on #834
Hey, I have gone through the documentation and has seen the methods for registeringCommands externally.

Action plan would be to set up the development environment and  start implementing the above methods and test them and raise the PR.

Thanks

[2018-09-16 05:38] lastmjs commented on #768
Sweet, I'll get back to this on Monday

On Fri, Sep 14, 2018, 3:31 PM André Medeiros <notifications@github.com>
wrote:

[2018-09-16 17:34] mul1sh commented on #825
@StatusSceptre definitely 🙂  and thanks for approving to work on this bounty, will work hard to deliver my very best

[2018-09-17 16:20] PumpkingWok commented on #763
Hi, i have already open a WIP PR few days ago, i’m changing some part of code according with repo mainteiner.thanks

[2018-09-17 21:29] pmaojo opened #855 "Ruby on Rails integration"
Rails 5 has integration with Webpack, it would be nice to create a gem to implement embark on a Ruby on Rails App.
What do you think about it?

[2018-09-18 13:01] MJ10 commented on #764
@iurimatias can you take a look at the PR please?

[2018-09-18 13:52] StevenJNPearce commented on #834
Preempting gitcoinbot asking for an update here: PR coming soon.

[2018-09-18 17:50] #832 closed

[2018-09-18 22:31] vs77bb commented on #832
@iurimatias @andytudhope Think this one is ready to be paid out!

[2018-09-18 22:32] vs77bb commented on #763
Thanks @PumpkingWok - snoozing Gitcoin Bot for 10 days here 👍

[2018-09-18 22:33] vs77bb commented on #774
@kziemianek Are you waiting on feedback from @iurimatias here to continue? Snoozing Gitcoin Bot for 5 days 👍

[2018-09-18 22:33] vs77bb commented on #761
@iurimatias @andytudhope Looks like this one is good for payout 👍

[2018-09-19 11:51] kziemianek commented on #774
@vs77bb yes .

[2018-09-19 12:57] StatusSceptre commented on #767
Thank you so much for the work on this @subramanianv could you drop your contact code for status on here so we can send you the SNT bonus at the end of the embark bounties? Wallet address would work fine if you don't have a status wallet, but we like to be personal 🥇Thanks!

[2018-09-19 12:58] StatusSceptre commented on #832
Thank you so much for the work on this @StevenJNPearce could you drop your contact code for status on here so we can send you the SNT bonus at the end of the embark bounties? Wallet address would work fine if you don't have a status wallet, but we like to be personal 🥇Thanks!

[2018-09-19 12:59] StatusSceptre commented on #760
Thank you so much for the work on this @santteegt could you drop your contact code for status on here so we can send you the SNT bonus at the end of the embark bounties? Wallet address would work fine if you don't have a status wallet, but we like to be personal 🥇Thanks!

[2018-09-19 13:03] StatusSceptre commented on #761
@vs77bb This one isn't allowing us to do a basic payout, will Advanced work in this case and just tag @schweigert for the payout?

[2018-09-19 13:03] StatusSceptre commented on #761
Thank you so much for the work on this @schweigert could you drop your contact code for status on here so we can send you the SNT bonus at the end of the embark bounties? Wallet address would work fine if you don't have a status wallet, but we like to be personal 🥇Thanks!

[2018-09-19 13:11] StatusSceptre commented on #762
Thank you so much for the work on this @gustavodiel could you drop your contact code for status on here so we can send you the SNT bonus at the end of the embark bounties? Wallet address would work fine if you don't have a status wallet, but we like to be personal 🥇Thanks!

[2018-09-19 13:18] StatusSceptre commented on #816
Hi @kpulkit29 is work still being done on this issue from your end? Thanks!

[2018-09-19 13:35] vs77bb commented on #761
@StatusSceptre That's correct, yes!

[2018-09-19 15:57] iurimatias commented on #825
Hi @mul1sh , please feel free to drop by the gitter channel, we can give you some pointers on how to best approach this.

[2018-09-19 16:08] santteegt commented on #760
You're welcome!. This is my Status contact code

[code]
You're building great stuff here! Looking forward to get involved in more bounties in the future :+1:

[2018-09-19 16:15] mul1sh commented on #825
@iurimatias  thanks will do 👍

[2018-09-19 16:39] kpulkit29 commented on #816
Sorry for delay I am having a hard time understanding what exactly needs to be changed

[2018-09-19 17:13] gustavodiel commented on #762
Hi! I'm glad to help in your project :D The only one I have is this one:
0x83aaa422dae358f764a6b91b7e26c4e70007d62f
Thank you!

[2018-09-19 23:34] sanignucio opened #875 "Embark Install Ubuntu"
## Overview
Error while executing:
npm ERR! /usr/bin/git ls-remote -h -t ssh://git@github.com/ahultgren/async-eventemitter.git
npm ERR!
npm ERR! fatal: cannot come back to cwd: Permission denied
npm ERR!
npm ERR! exited with error code: 128

### Extra Detail
npm -g install embark

#### Logs
1655 verbose Linux 4.15.0-29-generic
1656 verbose argv "/usr/bin/node" "/usr/bin/npm" "-g" "install" "embark

[2018-09-20 00:10] schweigert commented on #761
@vs77bb I'm having trouble getting TIP. Apparently the transaction has been reversed, and for this reason I probably will not be able to receive the tip. Can someone help me? https://etherscan.io/tx/0x540efb979d77a0b7ed7acc1916ac93af9971ac5689d8302187a1fb088e082d8e

[2018-09-20 01:05] owocki commented on #761
@StatusSceptre looks like the tx for the tip failed.. from your Etherscan Account, it seems you do not have enough DAI to send the tip!  could you replensih your wallet with DAI and resend?

[2018-09-20 09:55] PascalPrecht commented on #855
@pmaojo Hi!

Would you mind elaborating a little bit on what you think this should look like? I'm trying to wrap my head around the idea of a Ruby on Rails "integration" in embark, as embark doesn't really seem to handle servers in that sense.

[2018-09-20 09:57] PascalPrecht commented on #334
@changalberto there's an angular template in the making over at https://github.com/embark-framework/embark-angular-template

Is that what you're looking for? Angular material would be just another dependency that you'd add yourself from there.

[2018-09-20 10:44] PascalPrecht commented on #816
@kpulkit29 It is indeed a bit hard to follow if you aren't familiar with the codebase (neither am I). However, I did some digging and I think what needs to be done is this:

- @iurimatias mentioned that a lot of gas related configurations in embark need to be defined in [Wei](https://www.investopedia.com/terms/w/wei.asp). AFAICT, he's referring to configuration options like [`gas`](https://github.

[2018-09-20 11:29] PascalPrecht commented on #875
@sanignucio thanks for reporting your issue!

This looks like a permission problem on your machine. Would you mind posting the complete output of

[code]

instead of just an excerpt? This would help a lot.

Also just to double check, is your global `node_modules` directory writable? Usually normal users aren't allowed to write to that directory, which is why many ppl use `sudo npm install`. This h

[2018-09-20 11:34] PascalPrecht commented on #328
@whydna hi there!

Ideally you should be able to use any template engine, but it probably also depends on what tools and frameworks you're working with. Embark comes with a haml plugin: https://www.npmjs.com/package/embark-haml

Would that be what you're looking for?

I don't think there's gonna be any recommendation in that sense, as different tools are good for different use cases.

Let us know

[2018-09-20 11:40] PascalPrecht commented on #697
I can confirm that copying inside the dashboard doesn't work on:

macOS 10.13.5, Terminal app (inside and outside tmux)

[2018-09-20 12:27] sanignucio commented on #875
Hello, good morning, thanks for your help!, I attach the log file "logs.txt"

I am interested in the development of projects with Ethereum for my
company, I am doing tests.

El jue., 20 sept. 2018 a las 8:30, Pascal Precht (<notifications@github.com>)
escribió:

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'install', '-g', 'embark' ]
2 info using npm@6.4.1
3

[2018-09-20 12:50] PascalPrecht commented on #875
@sanignucio thanks!

It looks like the logs got cut off there cause there's no error to see.

Did you look into the documentation I've referred to? Can you confirm that your node_modules are writable?

[2018-09-20 13:48] #334 closed

[2018-09-20 14:51] StatusSceptre commented on #761
Should be good to go know; let us know if you have any trouble @schweigert!

[2018-09-20 16:38] lastmjs commented on #768
I'll be getting back to this as soon as I can, which should be today

On Thu, Sep 20, 2018 at 10:17 AM Gitcoin.co Bot <notifications@github.com>
wrote:

--
Jordan Last

819 N 500 E
Logan, UT 84321
801-709-1860

https://www.linkedin.com/in/lastmjs
https://github.com/lastmjs

If you don't want me emailing you again for whatever reason, just reply and
let me know, thanks!

[2018-09-20 19:46] andremedeiros commented on #768
@lastmjs looking forward to it!

[2018-09-21 05:53] lastmjs commented on #768
@andremedeiros Great, I see what your demo is trying to do. Though it seems easy to lose the log area entirely like that. Is that okay? Would it be better to make everything else flexible, and just keep the repl box fixed in height?

[2018-09-21 15:33] andremedeiros commented on #768
Keeping everything flexible is what got us in this mess in the first place ;-)

I can't speak definitely, but I think this should be the way to go. @iurimatias, thoughts?

[2018-09-21 17:33] schweigert commented on #761
Same error. https://etherscan.io/tx/0x540efb979d77a0b7ed7acc1916ac93af9971ac5689d8302187a1fb088e082d8e

[2018-09-21 20:45] pmaojo commented on #855
I was thinking of a working rails site that would like to introduce some feature using the blockchain. But I don't even have a clear idea about how good would it be for rails users.

[2018-09-21 23:03] owocki commented on #761
@schweigert the tx you linked was [sent 2.5 days ago](https://etherscan.io/tx/0x540efb979d77a0b7ed7acc1916ac93af9971ac5689d8302187a1fb088e082d8e),  it looks like you didnt get enough DAI to fulfill this tip until [1.5 days ago](https://etherscan.io/tx/0x1262e508cbe87c69512a14669ef759d4f2c289f6aa184a5c92cf256f07bf3dd4)

you need to have more DAI in your wallet than you're using to tip to avoid your

[2018-09-21 23:36] iurimatias commented on #768
@lastmjs and to clarify, by "fixed" I mean, it can still be 'updated on the fly' if needed by terminal resize events.

[2018-09-24 10:44] Destiner commented on #816
As far as I understand, the first step is to find which config values can represent Ether values.
I did a quick research on what that values might be, and here's what I found:
* There are 6 config files: `blockchain.js`, `communication.js`, `contracts.js`, `namesystem.js`, `storage.js`, and `webserver.js`.
* We need to check every field that might be set as Ether in config files to make sure we di

[2018-09-24 13:48] kziemianek commented on #774
I'm waiting for fix in ipfs-api, please snooze for 100 days because it may take long time.

[2018-09-24 16:47] PumpkingWok commented on #763
Hi,
Yes, I'm still working on it, I have already open a WIP PR. I'm waiting a reply from repo dev.
Thanks.

[2018-09-24 16:58] schweigert commented on #761
Thank you. But I will refuse payment. I will soon help in other PR's! =D

[2018-09-24 17:38] vs77bb commented on #816
@StatusSceptre Looks like @Destiner has provided a good approach here; mind approving on Gitcoin to allow him to 'Start Work'?

[2018-09-24 20:00] lastmjs commented on #768
Finally back at it, sorry for the delay. I just updated the PR.

[2018-09-24 22:17] vs77bb commented on #764
@mj10 Just snoozed Gitcoin Bot -- @iurimatias, any updates to provide here?

[2018-09-25 00:44] #762 closed

[2018-09-25 00:46] #760 closed

[2018-09-25 03:07] MJ10 commented on #764
![screenshot from 2018-09-25 08-32-39](https://user-images.githubusercontent.com/4126775/45990447-edfd5080-c09d-11e8-8775-0c5533e17f05.png)
@iurimatias I did test it, and it works. Have attached a screen shot for the same.

[2018-09-25 09:48] danlipert commented on #816
@iurimatias I've taken some time today to work on this issue and altered the existing tests to test the unit conversion - let me know if you think this type of test change should stay in: https://github.com/danlipert/embark/commit/33b8b001312720d5ce16e23614338e712d0c9c3d Thanks!

[2018-09-25 09:59] PascalPrecht commented on #816
@danlipert would you mind sending a PR so we can review and comment right there? :)

[2018-09-26 01:02] hodlbank opened #909 "IfStatement without statements causes error in coverage/contract_source.js"
## Overview
Solidity AST IfStatement without statements e.g.:
`if(!owner.send(fundsComissionWei)) revert();`
causes error in coverage/contract_source.js

### Extra Detail

warning.js:18 (node:910) UnhandledPromiseRejectionWarning: TypeError: Cannot read property '0' of undefined
    at ContractSource.generateCodeCoverage (/embark-framework-new/lib/modules/coverage/contract_source.js:167:38)
    at

[2018-09-26 01:04] hodlbank commented on #909
Tagging @andremedeiros .

[2018-09-26 04:08] vyomshm commented on #766
yes.

[2018-09-26 08:53] danlipert commented on #816
@PascalPrecht here it is: https://github.com/embark-framework/embark/pull/910 still a WIP but wanted to see if I could get some feedback on the test change before proceeding.

[2018-09-26 09:50] Neurone commented on #773
@gitcoinbot Hi scary bot 😄 I completed the job, I'm waiting for PR approval.

[2018-09-26 10:34] PascalPrecht opened #911 "Ensure Embark uses `Error` instances for error handling"
## Overview
**TL;DR**
Embark happens have different approaches to how and when errors are being thrown and handled. Many APIs are callback based at the moment and expect the first parameter of a given callback to be the error.  E.g.

[code]
^ This is a common pattern in NodeJS land and callback based APIs.

As of right now, Embark doesn't actually emit instances of `Error` in such cases, but rathe

[2018-09-26 11:33] PascalPrecht commented on #911
We would then avoid having conditions like: https://github.com/embark-framework/embark/blob/b8d3f3cd11700b8da457b77a400760bfd6052c84/lib/modules/deployment/contract_deployer.js#L278

Which is very error prone given that we're relying on concrete partial strings here.

[2018-09-26 20:56] hodlbank opened #914 "Code coverage routine can't handle EnumDefinition, Break and others"
## Overview
Code coverage routine can't handle EnumDefinition, Break and others.
Produces a lot of output.

### Extra Detail
"embark test" output:
[code]
**Break** is caused by solidity code like:
[code]

**IndexAccess** is caused by solidity code like:
[code]

**InlineAssembly** is caused by solidity code like (e.g. EC point multiplication):
[code]

**EnumDefinition** is caused by solidity code l

[2018-09-26 22:29] Swader commented on #697
@sagarjethi Note that if you need addresses, they'll be in `chains.js` in most cases after deployment.

[2018-09-26 22:35] andremedeiros commented on #914
@hodlbank thank you so much for these! I'll definitely fix forward.

[2018-09-27 13:49] PascalPrecht commented on #255
Hey @syedshahzebhasnain

I know this has been laying around here for a long time now.. From your description it's very hard to follow what you're trying to achieve..

Embark has changed by now, but you should be good doing

[code]

I'm not sure I follow how installing mysql is related to this. Again I know this issue is super old and probably not relevant to you anymore, but maybe we can at least

[2018-09-27 14:22] roccomuso opened #924 "Unused dependencies"
A list of unused dependencies in the project:

- `node-netcat`
- `file-loader`
- `finalhandler`
- `underscore`
- `mocha-sinon`

Instead you're using `lodash` in `test/helpers/fakeIpcProvider.js` but it is not listed as dev dependency.
Same for `web3-utils`, `web3-eth-abi`.

[2018-09-27 17:37] PascalPrecht commented on #924
@roccomuso I haven't verified this, but has most likely changed historically.

How do you feel about sending a PR, ironing this out? :)

[2018-09-27 19:36] PascalPrecht commented on #251
Hey @sachinvits what's the status of this issue? :)

[2018-09-27 19:38] PascalPrecht commented on #277
@nabilrifi94 is this still an issue?

[2018-09-27 19:38] PascalPrecht commented on #284
Hey @lotscoin is this still an issue? :)

[2018-09-27 19:45] PascalPrecht commented on #314
Hi @pakokrew

thanks for reaching out and thanks for the kind words. Unfortunately, your description is a little bit hard to follow.. What exactly are you trying to do that doesn't work?

Contract instances can be imported within JS as documented here: https://embark.status.im/docs/contracts_javascript.html

Let us know if this helps!

[2018-09-27 19:51] PascalPrecht commented on #668
@dotnetspec it's been quite some time since there was any activity here.

Do you still need our help to solve this? Otherwise we'll close this issue due to inactivity. :)

[2018-09-28 03:04] dotnetspec commented on #668
I just re-tried the embark_demo and it appears to be working without problems. I'm focused on another project now anyway. It appears this has somehow been fixed in the background.

[2018-09-28 03:04] #668 closed

[2018-09-28 09:30] PascalPrecht opened #930 "Embark demo output seems to be out of order"
## Overview
**TL;DR**
It seems that the output generated by `embark demo` (probably also `embark new`) arrives out of order in stdout. Here's what it looks like when running it:

[code]

While this looks fine at a first glance, I believe `Init complete` should be shown before `Next steps`.
I assume this is due to the commands asynchronous nature.

It'd be nice if we first create and install and **

[2018-09-28 11:01] pakokrew commented on #314
Hey @PascalPrecht,

Thanks for your response, but my message is almost one year old so I don't exactly remember what had in mind at this time ;)

I think I meant that your tools is great but maybe one could like to have all this toolkit but don't necessary want to create a webapp. I mean that we could just want to deploy smart contract, test, use IPFS and whisper but within a NodeJS app, so the we

[2018-09-28 12:10] michaelsbradleyjr commented on #930
Fixed by #928.

[2018-09-28 13:27] PascalPrecht commented on #930
Ah! I totally missed that. Thanks @michaelsbradleyjr !

Closing this one. :)

[2018-09-28 13:27] #930 closed

[2018-09-28 22:15] iurimatias opened #937 "support generating embark demo in vue.js"
### Outline

The goal of this task is to create the equivalent template of the react dapp generated by`embark demo` in vue.js
An Embark template for vue.js can be found here https://github.com/embark-framework/embark-vue-template.
The code for the embark_demo can be found here https://github.com/embark-framework/embark/tree/master/templates/demo

### Acceptance Criteria
* `embark demo --vuejs` sho

[2018-09-28 22:26] iurimatias opened #938 "track field in contracts configuration"
### Outline

The goal of this task is to add a field `track` to the contracts configuration so that if this field is true, embark will always deploy the contract regardless if the contract tracker determines the contract has already been deployed.

e.g in config/contracts.js with the following config:
[code]

If `track` is set to false, the contract will always deploy. if `track` is set to true or

[2018-09-28 22:32] iurimatias opened #939 "Support command history in the console"
### Outline

The goal of this task is support historical of past commands entered in `embark console` or `embark run`.

### Acceptance Criteria
* running `embark console` or `embark run` and pressing up, show be able to replicate the last 20 commands
* any history file should be saved in the dapps `.embark/` directory
* typing `history` in the console should list the last 10 commands (see [plugin

[2018-09-28 22:38] iurimatias opened #940 "support https dev webserver"
### Outline

The goal of this task is to support https in the local dev webserver, such that if the option `https: true` in config/webserver.js is set to true, then the webserver server will be available as https instead of http. Services that need cors should have their settings updated accordingly.

### Acceptance Criteria
* adding `https: true` to `config/webserver.js` should start the webserve

[2018-09-28 22:52] iurimatias opened #941 "add --nobrowser field to test codecoverage."
### Outline

Running `embark test -c` will cause the browser to automatically open with the code coverage report. The goal of this task is to add `--nobrowser` field for users that don't want this.

### Acceptance Criteria
* running `embark test -c --nobrowser` should running the tests & code coverage as normal, but not open the browser.
* `embark test -c` should work as now.

[2018-09-28 22:55] iurimatias opened #942 "contract profiler not working when embark-solc plugin is installed"
steps:

1. embark demo
2. install embark-solc plugin (version 1.0.0)
3. embark run
4. profile SimpleStorage

error / crash:

[code]

[2018-09-28 22:59] iurimatias opened #943 "support eth domains in contract deploy params"
### Outline

The goal of this task is to support eth domains as params for contracts in embark's configs.

for example:

[code]

if "ethereum.eth" resolves to "0x123". Then the param should be replaced by that address.
This should use embark's own already implemented ENS functionality. the task is to simply 1) detect it's an .eth address 2) request/resolve the address 3) replace

### Acceptance Cr

[2018-09-28 23:01] iurimatias opened #944 "add --output option to embark graph"
### Outline

Currently the command `embark graph` always outputs a svg file to same location. The goal of this task to add `--output` field so the user can specify another path and filename if he wishes.

### Acceptance Criteria
* `embark graph --output <filepath/filename>` should output the graph to intended `filepath/filename`
* `embark graph` should default to the current behavior (diagram.svg)

[2018-09-29 19:51] iurimatias opened #945 "Improve error message when a connection to a node is lost"
#### Steps to reproduce

1. embark demo
2. cd embark demo
3. embark blockchain (separate)
4. embark run, wait for ready
5. kill embark blockchain, wait for it to show red on the available services panel
6. in the console type `await SimpleStorage.methods.get().call()`

result:
[code]

expected / better result:
[code]

[2018-09-29 20:16] iurimatias opened #946 "loading page should display an error if something went wrong with the build process"
### Outline

The goal of this task is to send a websocket message to the loading page when an error occurs with the building process and display an error message in the webpage..

#### Steps to reproduce
1. embark demo
2. cd embark_demo
3. edit config/contracts.js and empty the contracts params, i.e:

from

[code]

to

[code]

4. embark run

result:
browser will open saying "embark is building", h

[2018-09-29 20:21] iurimatias opened #947 "support generating embark demo in a angular.js"
### Outline

The goal of this task is to create the equivalent template of the react dapp generated by`embark demo` in angular.js
An Embark template for angular.js can be found here https://github.com/embark-framework/embark-angular-template.
The code for the embark_demo can be found here https://github.com/embark-framework/embark/tree/master/templates/demo

### Acceptance Criteria

* `embark demo

[2018-09-30 07:48] vyomshm commented on #766
yes.

[2018-10-01 09:45] danlipert commented on #816
Yes - sorry for the delay! We got hit by a typhoon here this weekend but I'll have the updated PR soon

[2018-10-01 10:15] PascalPrecht commented on #947
I'm a tiny little bit concerned to introduce `--[framework-name]` options as this means we'll have to maintain and introduce new ones as frameworks pop up. How do you feel about introducing a `--template` option analog to what we have with `embark new`?

We would then end up with
[code]
and

[code]

The only difference is that demo templates comes with actual functionality.

[2018-10-01 14:51] PascalPrecht commented on #875
Hey @sanignucio , can we get an update here? :)

[2018-10-01 15:40] richard-ramos opened #948 "Embark gets stuck deploying contracts in 3.2.1"
## Overview
When deploying the gas relayer contracts  (from https://github.com/status-im/snt-gas-relay/tree/master/test-dapp), progress stops, and the contract `IdentityGasRelay` never get deployed. Issue does not happen when I downgrade to release 3.1.9

### Extra Detail

#### Steps to reproduce
git clone https://github.com/status-im/snt-gas-relay/
cd snt-gas-relay/test-dapp
embark run

#### Logs

[2018-10-01 15:53] richard-ramos opened #949 "Uploading a DApp causes errors invoking contract functions"
## Overview
Using this branch: https://github.com/status-im/snt-voting/tree/multiple-options  if you execute: `embark run livenet_devcoin`   The app will run correctly and will not display errors on the dev tools console
However, after executing `embark upload livenet_devcoin` (https://ipfs.infura.io/ipfs/QmSZq8xaq5U5w91RmghZXuaEajCAKZjny5BvmbnkqwYepW/), a weird error appears:

[code]

#### Contex

[2018-10-01 18:14] cryptomental commented on #941
PR opened: https://github.com/embark-framework/embark/pull/950

[2018-10-01 18:48] cryptomental commented on #944
PR opened: https://github.com/embark-framework/embark/pull/951

@kziemianek after submitting he PR I have just noticed that you also applied. Fortunately there are lots of bounties from Embark. I hope you can still apply for one!

[2018-10-01 21:09] cryptomental commented on #946
Hmm again I was working on this already before clicking start button... my fault I am too fast today :/. PR opened but feel free to reject me and handle the bounty to @kpulkit29 .

[2018-10-02 02:00] zachzundel commented on #940
I'd like to apply to this issue, but I'm a bit confused on how you'd want this implemented. Where would you get your SSL certificates? If they're self-signed, how will you inform the browser that they're safe? What benefit would this have for development purposes?

[2018-10-02 07:59] cryptomental commented on #942
Root cause found! Fix in progress.

[2018-10-02 09:23] PascalPrecht opened #954 "Error when running tests"
As reported by @3esmit, test execution in 3.2 is failing due to

[code]

This is working with 3.1.10

[2018-10-02 09:58] PascalPrecht commented on #954
Still working on reproducing this as I'm running into different errors:

[code]

Investigating...

[2018-10-02 10:07] PascalPrecht commented on #954
Okay, turns out this error happened because the `solc` installation done by embark was incomplete as the download during `embark test` got interrupted.

I can reproduce the original error now.

[2018-10-02 10:33] cryptomental commented on #942
I will try to finish today evening.

[2018-10-02 10:52] andytudhope opened #956 "Error on contract deployment"
## Overview
**TL;DR**
Running Embark 3.2.2 and trying to get the [snt-voting dapp](https://github.com/status-im/snt-voting) to run does not work.

### Extra Detail

#### Steps to reproduce
1. Clone the linked repo above and follow install steps
2. Make sure you're using 3.2.2
3. Run on either `master` or `develop` and see the error for yourself.

#### Logs
[code]

Full log file here: [log.txt](htt

[2018-10-02 13:15] PascalPrecht commented on #954
It looks like the **actual** error is being swallowed by async.js.

<img width="1487" alt="screen shot 2018-10-02 at 15 13 31" src="https://user-images.githubusercontent.com/445106/46350797-faf9e100-c655-11e8-8e90-237042c752b1.png">

[2018-10-02 13:40] PascalPrecht commented on #954
Here's the complete stack trace of the error that causes the whole pipeline to blow up:

[code]

Now, what's weird is that this is being emitted by `self.web3.eth.getGasPrice()` **after** all contracts has been deployed.

So it's still somehow related to `onDeploy` actions.

[2018-10-02 14:11] PascalPrecht commented on #954
This seems to be the same error as: https://github.com/embark-framework/embark/issues/956

[2018-10-02 18:31] kziemianek commented on #944
Seems like we have problem here because i'm approved to work and there is pull request with ongoing review. Because i'm not going to open another one for as such small change I suggest approving @cryptomental as a worker for this one.

[2018-10-02 19:00] kziemianek commented on #948
Seems like the problem is somewhere between 3.1.8 and 3.20.

[2018-10-03 09:33] alaibe commented on #954
This error: `{ Error: invalid address (arg="_parentRegistry", coderType="address", value="0x0")` seems to be due to the new web3 ABI coder that has been shipped into the beta 36.

We should try to replace the 0x0

[2018-10-03 17:29] KennethAshley commented on #937
@iurimatias Basically this is just a react app port to vue.js?

[2018-10-04 06:35] PascalPrecht commented on #937
@KennethAshley yes, the idea is to port the existing demo app that you get from `embark demo` to vue and have that one being generated by `embark demo --vue`

[2018-10-04 06:38] PascalPrecht commented on #937
I'd still consider introducing a `--template` option though as mentioned here: https://github.com/embark-framework/embark/issues/947#issuecomment-425857043

Need to get @iurimatias's feedback on that though.

[2018-10-04 09:49] StatusSceptre commented on #767
Hey @subramanianv - why weren't you able to install the app? What happened when you tried?

[2018-10-04 09:56] PascalPrecht commented on #946
This has landed as https://github.com/embark-framework/embark/commit/de93a56e9f65d3b7765dc3bb4aa820482abf0001

@cryptomental Great work btw! Maybe next time you put something like

[code]

In your commit that fixes the issue so this gets closed automatically? :)

[2018-10-04 09:56] #946 closed

[2018-10-04 11:02] PascalPrecht commented on #956
@emizzle AFAIK this was resolved after running `embark reset` within the project. I think @alaibe has more insights on this one.

[2018-10-04 11:14] alaibe commented on #956
yes it looks like web3 is doing the following:
`web3.eth.abi.encodeParameter('address', '0')`

This is to ensure an address is actually an address. In this case, 0 is not an address so web3 throw this error

[2018-10-04 11:21] PascalPrecht opened #963 "Embark test command registers command handlers twice"
Something I ran into when debugging another issue. When executing a dapp's tests via

[code]

Some command handlers for some services within Embark are registered and executed twice, which therefore causes Embark more work than necessary.

This might be happening for other commands as well and has to be verified. I only tested and debug the `test` command in that regard for now. For the test comma

[2018-10-04 11:39] PascalPrecht opened #964 "Proposal: make Embark without dashboard less verbose"
## Overview
Embark spins up a nice dashboard view within the terminal by default. Some people however, prefer to start Embark without getting a dashboard, which is why we support a `--nodashboard` option as part of the `run` command.

The result is Embark doing its work and only outputting a log of whatever is going on.

While this is great to have, I believe we can improve the no-dashboard scenar

[2018-10-04 12:30] PascalPrecht commented on #964
Turns out I was on a development branch which introduces those logs. Those aren't actually showing up on the latest release.

Thanks for pointing this out @jrainville !

Closing this.

[2018-10-04 12:30] #964 closed

[2018-10-04 13:11] subramanianv commented on #767
@StatusSceptre I was able to get the status.im app installed. Here is my contact code
`0x042dc0bcc57175580d45f207eeee51671c7cc84dd992d01f37e96c49c635acaa7f21518565a64d339a49e9bfa14851efdc1f0fb1b52cdb1936d05c78e9a68c65a8`

[2018-10-04 13:30] PascalPrecht commented on #963
Ah, thanks for the insights! Okay I keep this open for the time being and we can re-evaluate this refactor the testing modules.

[2018-10-04 13:55] StatusSceptre commented on #944
@vs77bb this issue won't allow me to payout and has been merged already, can you help?

[2018-10-04 14:57] subramanianv commented on #941
@iurimatias Seems like the task is already done

[2018-10-04 15:03] PascalPrecht commented on #941
Thanks for pointing this out @subramanianv !

Yes this landed as https://github.com/subramanianv/embark/commit/890b46977780d3b3d0199ba8c459c102d6f85596

Closing this one.

[2018-10-04 15:03] #941 closed

[2018-10-04 15:43] StatusSceptre commented on #941
@vs77bb this issue won't allow me to payout and has been closed already, can you help?

[2018-10-04 16:18] owocki commented on #944
@vs77bb @StatusSceptre it looks like we can't payout in basic payout because the submitter has not submitted work yet.

two things we can do
1. gitcoin core re-enables advanced payout, so that @StatusSceptre can payout even though submitter hasn't submitted work.  (we had previously disabled advanced payout because there were some UX concerns we wanted to firm up on it -- it should be back up on f

[2018-10-04 16:31] mul1sh commented on #825
hmm @gitcoinbot already submitted a PR

[2018-10-04 18:27] PumpkingWok commented on #763
Hi,
Yes, I'm still working on it.

[2018-10-04 18:35] cryptomental commented on #944
Hi @pablanopete @vs77bb @StatusSceptre @owocki I was too busy fixing https://gitcoin.co/issue/embark-framework/embark/942/1315 ;) and did not notice. I will submit ASAP.

[2018-10-04 18:40] cryptomental commented on #942
I ended up with a major rewrite of the Embark-solc plugin, as change to standard JSON input for solc was needed to align Solidity compiler options for Embark and Embark-solc plugin.

The contract profiler was working for solcjs but not working with Embark-solc plugin due to missing gasEstimate data in the compiled contract JSON output data. The gasEstimate data was not available due to different c

[2018-10-04 18:43] cryptomental commented on #941
Hi @StatusSceptre it seems you need to approve me now and I will click on the 'submit' afterwards.

[2018-10-04 18:54] cryptomental commented on #938
Hi @kziemianek are you on it or waiting for the approval? Otherwise I could contribute as well.

[2018-10-04 20:58] vyomshm commented on #766
updated PR #847

[2018-10-04 23:14] hodlbank opened #965 "Console doesnt have contract objects for contracts with pre-defined addresses configured"
## Overview
When contract is already deployed and it's address written into contracts.json, the console doesn't have contract object for such contract.

### Extra Detail
Caused by contract.address check in function deployIt() in [contract_deployer.js](https://github.com/embark-framework/embark/blob/develop/lib/modules/deployment/contract_deployer.js#L129) .

#### Steps to reproduce
1. Have contrac

[2018-10-05 08:17] cryptomental commented on #938
As there was no response, I had a look and opened the PR https://github.com/embark-framework/embark/pull/966 to push the bounty forward.

[2018-10-05 08:44] danlipert commented on #816
Yup! Will have this wrapped up soon, was just waiting for some feedback on moving the final wei conversion into the config file. Looks like nobody has any issues with that so I'll make that change and get this squashed and rebased 👍

[2018-10-05 11:16] subramanianv commented on #943
@iurimatias ens names as argument ? Is it better if they start with $ to indicate that name needs to be resolved ?

[2018-10-05 11:32] PascalPrecht commented on #943
I believe the indication is the `.eth` suffix.

[2018-10-05 16:17] lastmjs commented on #768
Looking into finishing up today

[2018-10-05 20:34] StatusSceptre commented on #941
Approved @cryptomental

[2018-10-05 20:55] #944 closed

[2018-10-05 21:30] #834 closed

[2018-10-05 21:41] #945 closed

[2018-10-06 07:51] ShankyRana commented on #940
Working on it.

[2018-10-06 18:13] cryptomental commented on #941
@StatusSceptre thank you, I submitted via GitCoin.

[2018-10-06 18:40] cryptomental commented on #938
Hi @gitcoinbot @statussceptre the PR was merged but I cannot press 'submit' via GitCoin. Could you please approve me on this bounty?

[2018-10-07 13:45] #817 closed

[2018-10-07 16:41] StatusSceptre commented on #938
hi @cryptomental can you try now?

[2018-10-07 16:56] cryptomental commented on #938
@StatusSceptre done!

[2018-10-07 17:18] StatusSceptre commented on #945
hi @evgeniuz can you please submit work in gitcoin interface so we can payout this bounty? thanks!

[2018-10-07 17:34] cryptomental commented on #938
Thank you!

[2018-10-08 09:54] PascalPrecht commented on #251
Closing due to inactivity.

[2018-10-08 09:54] #251 closed

[2018-10-08 09:54] PascalPrecht commented on #255
Closing due to inactivity.

[2018-10-08 09:54] #255 closed

[2018-10-08 09:54] PascalPrecht commented on #277
Closing due to inactivity.

[2018-10-08 09:54] #277 closed

[2018-10-08 09:54] PascalPrecht commented on #284
Closing due to inactivity.

[2018-10-08 09:54] #284 closed

[2018-10-08 09:56] PascalPrecht commented on #314
@pakokrew thanks for the feedback!

So there's a `--simple` options when creating dapps using Embark that scaffold a simple app that only handles smart contract, without a web front-end.

You can read more about this here: https://embark.status.im/docs/create_project.html#Creating-%E2%80%9Ccontracts-only%E2%80%9D-apps

Closing this issue as solved then :)

[2018-10-08 09:56] #314 closed

[2018-10-08 10:46] cryptomental commented on #939
As there was no response I opened a PR: https://github.com/embark-framework/embark/pull/970 to push the bounty forward.

[2018-10-08 11:35] PascalPrecht commented on #954
I can confirm that replacing `0x0` with a full 0 address (`0x0000000000000000000000000000000000000000`) fixes that the error described above is thrown.

Waiting for @3esmit to verify this so we can close this issue.

[2018-10-08 12:35] cryptomental commented on #939
Hi @StatusSceptre I will be able to press 'submit' via GitCoin after I am approved on this bounty.

[2018-10-08 16:15] Brianspha commented on #650
Hi there i still haven't figured how to get this to work can we schedule a conference call im trying to move my project to the rinkby

[2018-10-08 22:21] StatusSceptre commented on #938
Thank you so much for the work on this @cryptomental  could you drop your contact code for status on here so we can send you the SNT bonus at the end of the embark bounties? Wallet address would work fine if you don't have a status wallet, but we like to be personal 🥇Thanks!

You can download status at http://get.status.im/

[2018-10-08 23:30] hodlbank opened #971 "Fatal error when Ethereum node going offline"
## Overview
Embark throws unhandled exception when losses and re-establishes connection to the Ethereum network.

### Extra Detail
Caused by `engine.events.on('check:backOnline:Ethereum', () => callback());` in cmd_controller.js

#### Logs
[code]

#### Context (Environment)
* OS: Ubuntu 16.04
* Embark Version: develop
* Node Version: 8
* NPM Version: 6

### Tags
@alaibe

### PR
PR is coming

[2018-10-09 06:43] PascalPrecht commented on #938
This has landed as https://github.com/embark-framework/embark/pull/966/commits/701b25e5e7a1df0b5dfbdce3917481251dfbf687

[2018-10-09 06:43] #938 closed

[2018-10-09 07:06] PascalPrecht commented on #937
@santteegt thanks for the update here!

I see if I can get @iurimatias 's attention here. Until he responds, just move forward with `--vuejs`. Changing that later on won't be a big deal.

Looking forward to a PR from you!

[2018-10-09 07:11] cryptomental commented on #938
Hi @StatusSceptre I appreciate your feedback. I really enjoyed those bounties as I got more and more insight into this great project. My status code is 0x04ccc37542bdd5649d696f478d93055a6a6b921e337bf1054f1cdd1a10d0f0b24efdb5c3cfc0ed1d08b9c3e75575f2ce47a4d2759b0242d92b1ef1ea177ff9fa3a

[2018-10-09 07:18] PascalPrecht commented on #938
@cryptomental you rock!

One tiny thing though: Do you think we can get some docs for this new feature you've introduced as well? :) https://github.com/embark-framework/embark/pull/966#issuecomment-427734313

[2018-10-09 09:46] PascalPrecht commented on #948
Okay so the issue lies within web3 no longer accepting `0x0` as zero addresses, which is what you've configured here: https://github.com/status-im/snt-gas-relay/blob/1da18b701c0b38b0171f28d548b939b63e52b7bc/test-dapp/config/contracts.js#L55

Replace all `0x0` with `0x0000000000000000000000000000000000000000` and the deployment should go through.

The fact that there's no response during deployment

[2018-10-09 09:46] #948 closed

[2018-10-09 09:48] cryptomental commented on #938
Hi! Documentation PR opened here https://github.com/embark-framework/embark-site/pull/85

[2018-10-09 09:53] PascalPrecht commented on #956
So, every similar to https://github.com/embark-framework/embark/issues/954 and https://github.com/embark-framework/embark/issues/948 this is very likely due to specifying zero addresses as `0x0` as opposed to `0x0000000000000000000000000000000000000000` some in your configuration.

Web3 introduced a breaking change where using `0x0` for zero addresses isn't supported anymore.

Can you confirm that

[2018-10-09 14:39] danlipert opened #977 "Web3 version configuration does not apply to tests"
## Overview
**TL;DR**
The recent web3 release (beta 36) added a new ABI encoder which breaks some of my previous tests that use BigNumbers as function arguments (https://github.com/ethereum/web3.js/issues/1936). The configurable version of web3 in `embark.json` only configures which version of web3 is used within the dapp, but not in the tests. In this case, and possibly more in the future it woul

[2018-10-09 15:03] andremedeiros commented on #768
Hey @lastmjs,

I gave the branch a run, and the command line feels sooooo crisp! Definitely a step in the right direction.

I am, however, having some issues with the UI re-orienting itself on my terminal, specifically on 186 cols and 97 lines, but can replicate it in other setups.

I think it could be helpful to jump into a call and maybe show you what I mean.

Damn, this feels so close I can alm

[2018-10-09 17:55] lastmjs commented on #768
What time works for you? I'm at SF Bockchain Week most days this week and wasn't planning on bringing my laptop, but perhaps we can get on a call at night Pacific Time or early morning Pacific Time?

[2018-10-09 21:57] andremedeiros commented on #768
I'm on EST. Tomorrow I have the whole day, from 10am EST to around 4pm EST if that helps.

If you'd prefer skipping the laptop, I'd effectively try your code with non standard sized terminals. Portrait instead of landscape, resize the window on both height and width to see some weird artifacts going on, maybe even reduce font size. I've tried all of these, and the call would be to demonstrate this

[2018-10-10 12:31] subramanianv commented on #943
@PascalPrecht
This is in `lib/modules/ens/index.js`

[code]
When the ENS contracts are deployed,
In this line `Resolver.methods.setName(reverseNode, '${self.registration.rootDomain}').send({from: web3.eth.defaultAccount});`. `'${self.registration.rootDomain}'` will be replaced with the rootDomain.
The code in special config will try to resolve the ENS domain. But the contracts are not launched, so

[2018-10-10 12:59] jrainville commented on #943
@subramanianv Actually, the ENS contract deploy was just modified, so it will be easier for you. Right now, the ENS contarcts are deployed before all other contracts, so if you have names to resolve, the contracts will be available.
Just be careful to make sure that the naming service is available, as it can be disabled with `enabled: false` in the namesystem.js config (like other services)

[2018-10-11 16:55] mul1sh commented on #825
@gitcoinbot yep i'm rebasing the code 🙂

[2018-10-11 19:29] vs77bb commented on #940
@iurimatias @statussceptre looks like we have a few applicants + @StevenJNPearce has something already rolling here - mind accepting an applicant? 🙂

[2018-10-11 22:29] 3esmit commented on #954
Replacing 0x0 with a full 0 address (0x0000000000000000000000000000000000000000) does not fixes the problem,

[2018-10-11 22:34] 3esmit commented on #954
I tried with this simple config:
[code]
and it gives:

[code]

No more info is given regarding the deploy error.

[2018-10-11 22:47] 3esmit commented on #954
I changed the constructor to look like this
[code]

and reduced the test script to this:

[code]

but error persists.

When I reduced the *size of contract* by removing all methods (except empty constructor) the error vanished.
Maybe optimization in compiler was left off in unit testing?

[2018-10-12 06:08] cryptomental commented on #939
PR approved, just waiting to be merged.

[2018-10-12 07:40] sreejithr opened #982 "How to turn off/disable Blockchain/Ethereum?"
## Overview
**TL;DR**
I'm building a project with IPFS. I don't need Ethereum contracts. How do I turn blockchain off in the config?

### Extra Detail

I'm getting `No Blockchain node found` and this error in the dashboard:
[code]
And as a result, **my `localhost:8000` is stuck at "Embark is building. Please wait..."`**.

#### Steps to reproduce
1. Make sure Ethereum (geth) binary isn't installed.

[2018-10-12 12:37] jrainville commented on #982
Hi , @sreejithr, that's a very interesting workflow you are asking for. I think you are the first to want the storage but not smart contracts.

I think there is no out of the box way to not have a blockchain connection, but there is a simple way to get around it.

You can, in another terminal, start `embark simulator` and then you will be able to run Embark, even without contracts. Don't worry, th

[2018-10-12 16:31] #764 closed

[2018-10-12 21:52] 3esmit commented on #954
https://github.com/embark-framework/embark/blob/3201afdb2e1f026c80ba4e31d1f792c60ba15b56/lib/tests/test.js#L157
changing this to false solve the problem
however other problem rised..

[code]

This dont works anymore (or something else). It gives reference error when I try to access "UpdatedUsernameRegistrar"

[code]

[2018-10-13 01:16] santteegt commented on #937
Hi,

Sorry for the delay, I had a busy week. The Vue.js demo is ready, and it is being generated by running  the command `embark demo --vuejs`. However, I have a doubt about where do I have to make PR for the demo source code: 1)inside `templates` folder, or in the separate repo [https://github.com/embark-framework/embark-vue-template](https://github.com/embark-framework/embark-vue-template), so I

[2018-10-13 05:02] lastmjs commented on #768
Alright, I'm traveling tomorrow, I'll be back to normal life on Monday. Are
the artifacts you're seeing disappearing borders and such? I've seen at
least one example of that. I can do a call any time on Monday, or a screen
capture/video would help as well

On Tue, Oct 9, 2018 at 3:57 PM André Medeiros <notifications@github.com>
wrote:

--
Jordan Last

819 N 500 E
Logan, UT 84321
801-709-1860

http

[2018-10-13 16:23] tomachinz opened #984 "During npm -g install embark: error: #include nested too deeply"
While tryig to install embark with:

`npm -g install embark
`
I'm seeing a stack overflow from what looks to me like infinite include loop.
Darwin MODERNA-4.local 17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RELEASE_X86_64 x86_64 macOS 10.13.6 (17G65)
node -v
v8.12.0
npm -v
6.4.1

[code]

[2018-10-14 07:44] sreejithr commented on #982
Thank you @jrainville for responding so fast. I'm building a decentralized annotation service which stores all public annotations in IPFS. No need for smart contracts as of now.

I tried `embark simulator` but it gives an `Invalid character` error in `ganache-cli`. For the time being though, I installed geth in my machine.

But I'd love an option to turn off blockchain nonetheless. Is this in your

[2018-10-15 01:40] ryan-shea commented on #939
Hey @iurimatias, Ryan from Gitcoin checking in. Looks like @cryptomental submitted a PR for you to look at! Feel free to ping me if you have any questions :)

[2018-10-15 01:53] ryan-shea commented on #763
Hey @iurimatias, Ryan from Gitcoin here. Looks like @PumpkingWok submitted a PR for you to review. Do you think you could take a look? As always, feel free to ping me with any questions :)

[2018-10-15 09:04] PascalPrecht commented on #937
Hi @santteegt !

That's great. So first of all, my apologize that I didn't manage to get @iurimatias 's feedback here on `--vuejs` vs `--template`.

Regarding your question: As a matter of fact I've discussed this with @emizzle the other day. There's a couple of things to consider:

- The **demo** is an actual fully functional app that literally demonstrates things you can do with Embark
- The **t

[2018-10-15 09:27] PascalPrecht commented on #947
@pmaojo the link works for me. Are you referring to something else?

[2018-10-15 09:28] alaibe commented on #984
Hi there,

I remember having issue because of node-gyp too.
Do you have a specific version of python? I know that having 3+ was causing issue.

Also could you try to remove the ~/.node-gyp/ and retry

[2018-10-15 09:37] pmaojo commented on #947
@PascalPrecht there is a dot on the url, when I click the link it goes to a 404, but removing the dot makes it work. thanks

[2018-10-15 09:46] PascalPrecht commented on #947
This may have been updated by @iurimatias in the meantime then as the link works fine :)

Thanks for pointing this out!

[2018-10-15 14:49] santteegt commented on #937
Hi @PascalPrecht,

Thanks for your feedback. In the meantime I'll wait for any comments from @iurimatias prior performing a PR.

[2018-10-15 15:13] PascalPrecht opened #987 "Disable compiler optimizations in tests when code coverage is enabled"
Most of this has been discussed in https://github.com/embark-framework/embark/issues/954#issuecomment-429473016

/cc'ing @andremedeiros

[2018-10-15 15:14] PascalPrecht commented on #954
Closing this issue as the original problem was fixed with: https://github.com/embark-framework/embark/issues/954#issuecomment-427801429

New issue for the optimizer related problems: https://github.com/embark-framework/embark/issues/987

[2018-10-15 15:14] #954 closed

[2018-10-15 17:58] lastmjs commented on #768
I think I could use some clarity. Do we have a design for portrait versus landscape, or a responsive design that we will be following? For example, do we want the Environment, Status, and Available Services boxes to stack vertically under the Contracts box when the screen gets too narrow? Or do we want those boxes to be scrollable when the screen is too narrow?

[2018-10-16 15:47] dodikk opened #988 "How to pass value, from, gasPrice to the contract method call?"
## Overview

How to pass value, from, gasPrice to the contract method call?
The `web3.js` API do not seem to work for me.

[code]
This code works for my contract under `truffle` but I'm getting test failures under `embark` since no ether is being sent.

### Extra Detail

Initialization in embark test :
[code]

Initialization in truffle test
[code]

My embark project https://github.com/dodikk/eth-s

[2018-10-16 16:13] jrainville commented on #988
Hi. Embark uses Web3 1.0 (currently uses beta 34), so the syntax that you used above doesn't work anymore.

You need to use `.call()` and `.send()` and it's in those that you can pass the parameters.
Here is the documentation on how the new way of calling methods is done: https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#id12

For your example, it would be something like so (assuming Spl

[2018-10-16 16:42] dodikk commented on #988
@jrainville , thanks for fast reply.

----

Now I am getting this. What else am I missing?

[code]

[2018-10-16 16:47] dodikk commented on #988
I also wonder : "How to trigger a fallback function of the contract?"

With truffle I was invoking a `sendTransaction()` method right on a contract instance. What is the embark way of doing that?

[code]

[2018-10-16 16:59] jrainville commented on #988
For your first question, it is because `splitTransactionReceipt` is the receipt in itself. No need to call `splitTransactionReceipt.receipt`, you can just do `splitTransactionReceipt.gasUsed`

For the second one, I'm not sure what you mean. I am not that good in Solidity. You want to make a bad transaction on the contract?

[2018-10-16 17:01] dodikk commented on #988
Thanks. I'll take a look at the newer docs of `web3.js`. That was a bit confusing for a beginner like me.

[2018-10-16 17:03] dodikk commented on #988
Yeah, sort of.
That's an "unhappy path" of my unit test.

[2018-10-16 17:08] dodikk commented on #988
@jrainville , one final question if you don't mind...

---

[code]

I am trying to deploy the contract instance explicitly in a test. For some reason, I am getting a different behaviour comparing to the case when I use a global contract deployed by embark ```var splitterContractInstance = AdkSplitterForTwo;```

Could you please suggest a piece of documentation I can look at to resolve this kind of

[2018-10-16 17:12] richard-ramos commented on #988
If you wish to execute the fallback function for a contract with web3js, you could do something like this:

[code]

[2018-10-16 17:13] jrainville commented on #988
For the contract deploy, here is the exact Embark doc for that:
https://embark.status.im/docs/contracts_testing.html#Creating-contract-instances-in-your-tests
The entire page explains to you what you can do with the tests

[2018-10-16 19:15] enten opened #989 "Allow embark config without index.html entry"
## Overview
**TL;DR**
When I [attempted to make embark works with angular-cli](https://github.com/embark-framework/embark-angular-template/issues/1#issuecomment-425748047), I encountered an issue related to the [placeholder page](https://github.com/embark-framework/embark/blob/develop/lib/modules/webserver/templates/embark-building-placeholder.html.ejs) used during embark build.

### Extra Detail

[2018-10-16 19:23] jrainville commented on #989
Just to recap, the problem you are having is the placeholder page (page that says Loading), because it overrides your own index.html?

Or you just want to build your Dapp with an entry point other than index.html?

The second one is quite easy. In `embark.json`, you can rename the left-side of the script name to what you want and Embark will name your files taht way.
Here is an example:
[code]
Lef

[2018-10-16 19:34] enten commented on #989
Yes, but to be precise: in the embark pipeline, when a webpack build is done, [the placeholder index.html is overwritten by the index.html source](https://github.com/embark-framework/embark/blob/fb92eb5bbf2d7f09f5f4d1db068eba31748cf62f/lib/modules/pipeline/index.js#L196) (which is [renamed index-temp during build](https://github.com/embark-framework/embark/blob/fb92eb5bbf2d7f09f5f4d1db068eba31748c

[2018-10-16 20:53] pmaojo commented on #947
[WIP] https://github.com/embark-framework/embark/pull/990

[2018-10-16 21:08] enten commented on #989
Yes, especially which does not overwrite index.html when webpack plugins make changes in the index.html source.

I think there is 3 ways to achieve that:

* Allow embark config without index.html (fastest way) ;
* Add an option to disable placeholder page usage (longest way) ;
* Check if the index.html output is the placeholder page before do the replacement (and if it's not, avoid replacement).

[2018-10-17 07:47] PascalPrecht commented on #989
@enten first of all, I have to say that I really like your experiment in https://github.com/enten/embark-angular#patch-embark-pipeline! This would be a great compromise for now until we manage to build a proper solutions for the Angular community.

I've left a comment on the original Angular template issue here: https://github.com/embark-framework/embark-angular-template/issues/1#issuecomment-4305

[2018-10-17 08:34] dodikk commented on #988
@jrainville , thank you for the link.
I've seen the page mentioned by you and tried to follow the instructions but ...

[code]

[2018-10-17 08:37] dodikk commented on #988
@richard-ramos , thanks I'll give that API a try.

[2018-10-17 08:37] #988 closed

[2018-10-17 11:33] dodikk commented on #988
@jrainville , @richard-ramos so I have applied your suggestions. My tests do compile and run properly. Still, the balance bookkeeping fails since

[code]

Here are my logs :
https://gist.github.com/dodikk/9b9e671fbb9fef1c466d759ffa0250e1

Any suggestions, please?
P.S. The same contract and the same set of tests succeeds for truffle.

[2018-10-17 15:09] dodikk commented on #988
Yeah. It works.
P.S. I thought I had a follow-up comment mentioning that. My bad.

I also had an issue with event log assertions since the logs array has turned out to be a dictionary. But I've figured things out using the `web3.js` docs : https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#methods-mymethod-send

[2018-10-17 15:11] dodikk commented on #988
### A brief summary of porting the contract to web3.js v1.0

1). Transaction options are now passed to `.send()` part of the contract method call.
Contract args are passd to the JS method with the same name the contract has.

[code]

2). `web3.eth.sendTransaction` is the only way to invoke the fallback function as of web3.js v1.0

3). `gasPrice` zero must be a string constant. Numbers are misinter

[2018-10-17 19:10] enten commented on #989
@PascalPrecht Thanks for your answers.

I understand your opinion and I'm share it. I don't want to use Angular CLI to build/run an embark project. [I left an answer on the Angular template issue](https://github.com/embark-framework/embark-angular-template/issues/1#issuecomment-430752009) to detailed my opinion about that.

To return to the subject of this issue: **I think that the placeholder pag

[2018-10-17 20:00] StevenJNPearce commented on #940
It's taking a little longer than expected - geth doesn't have any native support for ssl; need to setup a reverse proxy service.

[2018-10-17 23:37] #987 closed

[2018-10-18 11:59] #943 closed

[2018-10-18 15:32] cryptomental commented on #939
PR approved & merged. Thank you!

[2018-10-18 17:02] PascalPrecht commented on #939
This has landed as https://github.com/embark-framework/embark/pull/970/commits/6f838d8179c7ca18ebcd678e23c5fa381474c59b

[2018-10-18 17:02] #939 closed

[2018-10-18 19:34] marcelomorgado opened #995 "Test code that uses Embark without using embark command"
## Overview
**TL;DR**
Import Embark without using embark command.

### Extra Detail
I'm coding unit tests on react components and run them with mocha, but that way I'm receving message
Error: Cannot find module 'Embark/EmbarkJS'

#### Steps to reproduce
1. Create a module that uses Embark
2. Create a test
3. Run test with mocha

#### Logs

internal/modules/cjs/loader.js:583
    throw err;
    ^

E

[2018-10-18 19:44] jrainville commented on #995
Sorry, it's not possible right now to use Embark (containing the test module) as a library.
It is in our plans, but for now, to use Embark's test framework, you have to use `embark test`.
Sorry for the inconvenience.

[2018-10-18 19:47] marcelomorgado commented on #995
Thanks @jrainville !

[2018-10-19 03:46] santteegt commented on #937
Hi,

Is there is any updates about the acceptance criteria regarding the `--vuejs` vs `--template` option, in order to proceed with the PR. Please, let me know :)

[2018-10-19 07:10] PascalPrecht commented on #937
@santteegt very sorry man... @iurimatias is very busy right now with preparations for #CryptoLife

I'd suggest, for now just go ahead and implement `--vuejs` as proposed in the original issue. We can then either change this before your PR lands, or introduce an update in the future.

Again, sorry for the inconvenience.

[2018-10-19 12:50] PascalPrecht commented on #875
Closing this due to inactivity.

[2018-10-19 12:50] #875 closed

[2018-10-19 14:18] dodikk commented on #748
I have encountered a similar one trying to build a react app on top of `embark demo`.
I've written some code and enabled the `@babel/proposal-class-properties` plug-in to avoid JS compiler errors.

[code]

At the moment `embark run` fails to start with the following error.

[code]

[2018-10-19 14:20] michaelsbradleyjr commented on #748
@dodikk which version of embark are you running?

[2018-10-19 14:32] dodikk commented on #748
@michaelsbradleyjr , I am also getting a red message in embark console

[code]

I've deleted the `SimpleStorage` demo contract and added my own one instead, so it understandable. Still, I have no idea yet how to get rid of this warning and which cache needs to be cleaned. Not sure if this error is generated during the embark deployment stage or some javascript code is causing it.

P.S. This questi

[2018-10-19 14:32] michaelsbradleyjr commented on #748
Here is the default webpack config within embark 3.2.2:

https://github.com/embark-framework/embark/blob/3.2.2/lib/modules/pipeline/webpack.config.js

Your `.babelrc` gets merged into the options for `babel-loader`

I read recently (I apologize I cannot find the relevant GitHub issue at the moment) that babel-loader, when performing a merge with a `.babelrc` file overwrites instead of merges *if*

[2018-10-19 14:35] lidel commented on #774
Hey @kziemianek you may want to try ipfs-api v25.0.0, it shipped with a fix (https://github.com/ipfs/js-ipfs-api/pull/868) that should allow for 1GB+ uploads :+1:

[2018-10-19 14:36] michaelsbradleyjr commented on #748
@dodikk you will need to customize your DApp `config/contracts.js`. See the `contracts:` key and see also [Contracts Configuration](https://embark.status.im/docs/contracts_configuration.html).

[2018-10-19 14:42] dodikk commented on #748
@michaelsbradleyjr I'm not sure what you mean by "ejecting the config". Should I try copying its contents to my `.../embark_demo/webpack.config.js` (which does not yet exist at the moment) ?

Not sure what I should do next to get my `.babelrc` work properly.
Or should I copy the presets from your link to my `.babelrc` file and do nothing to `webpack.config.js` ?

P.S. here is my sample project if

[2018-10-19 14:43] michaelsbradleyjr commented on #748
Sorry, I forgot to indicate the command: `embark eject-webpack`

[2018-10-19 14:47] dodikk commented on #748
Thanks, this made the red warning go away
[code]

I'll let you know when I try your `embark eject-webpack` suggestions.

[2018-10-19 15:29] michaelsbradleyjr commented on #748
@dodikk strangely, that doesn't look like embark 3.2.2's webpack config. See:

https://github.com/embark-framework/embark/blob/3.2.2/lib/modules/pipeline/webpack.config.js

Are you sure you were running version 3.2.2 when you did the `eject-webpack` command?

[2018-10-19 15:32] michaelsbradleyjr commented on #748
Update: I'm getting the same "wrong" config when ejecting. There must be a mismatch between the version on the npm registry and the GitHub tag for 3.2.2. Looking into it now.

[2018-10-19 15:55] dodikk commented on #748
I've dpwnloaded the linked file with

[code]

It seems to have the `@babel/plugin-proposal-class-properties` I need. Still, I'm getting the following errors :

[code]

[2018-10-19 15:57] michaelsbradleyjr commented on #748
@dodikk sorry for the confusion coming from my end. It was just realized that our GitHub tag for 3.2.2 was made on the develop branch while the npm package for 3.2.2 was made from the master branch.

So your 3.2.2 is correct. And you should use the ejected config from 3.2.2, via `embark eject-webpack`. So I will try to understand now why when you modified the ejected config and have the plugin ins

[2018-10-19 16:01] dodikk commented on #748
@michaelsbradleyjr thank you so much for your time.

[2018-10-19 16:08] michaelsbradleyjr commented on #748
@dodikk glad to help!

So, with embark 3.2.2, I ran:

[code]

Then I ran

[code]

Then I edited the ejected webpack config to include `@babel/plugin-proposal-class-properties` as the last plugin in the `plugins:` array of the base config's babel-loader options.

After all that, when I did `embark run`, the webpack build completed successfully.

Can you try to replicate those steps on your computer

[2018-10-19 16:16] mul1sh commented on #825
@gitcoinbot still rebasing 🙁

[2018-10-19 19:27] cryptomental commented on #942
PR rebased and approved, just waiting for the merge ;)

[2018-10-21 22:28] pmaojo commented on #947
Hi! I'm still on it.

[2018-10-22 10:43] dodikk commented on #748
@michaelsbradleyjr , I've performed the proposed actions on a fresh `embark_demo` project. That seems to work.

Not only does it compile but the lambda properties are invoked correctly.

[code]

[2018-10-22 15:47] #965 closed

[2018-10-25 02:55] PixelantDesign commented on #942
@iurimatias PR is ready to be merged!

[2018-10-26 15:33] mul1sh commented on #825
@gitcoinbot 1 more commit remaining 😬

[2018-10-27 09:37] gomesalexandre commented on #984
If on OSX: `xcode select --install`
`npm uninstall node-gyp -g`
`npm install node-gyp`

That should solve it @tomachinz

[2018-10-30 12:43] pmaojo commented on #947
I'm not able to continue on these days so I leave this bounty to others that can respond more efficiently.
Sorry!

[2018-11-01 13:52] valerysntx commented on #774
So, this should be ready to play the example with that v25.0.0 fix?
 https://github.com/ipfs/js-ipfs-api/tree/master/examples/upload-file-via-browser

[2018-11-01 14:13] Eenae opened #1023 "EthPM support"
## Overview
**TL;DR**
Wishrequest: it'd be extremely helpful to have EthPM support in embark.

### Extra Detail

https://www.ethpm.com/registry is gaining acceptance and some packages are now provided via EthPM, not via npm.
Truffle has builtin support of EthPM: `truffle install modue-name`.
It'd be extremely helpful to have EthPM support also in embark.

[2018-11-01 15:00] PascalPrecht commented on #1023
@Eenae thanks for reaching out here!

I do agree that, in the long term, the ecosystem should switch to a decentralized package manager.

Can you elaborate on what that "integration" with embark should look like? The reason I'm asking is that those are obviously two very different tools. So I wonder what exactly would be "extremly helpful" if that integration existed.

Looking forward to your feed

[2018-11-01 16:24] MicrowaveDev opened #1024 "403 (Forbidden) error on connecting to IPFS from browser."
## Overview
403 (Forbidden) error on connecting to IPFS from browser during the `embark run` working.

### Extra Detail
Problem occurred during the "Embark Into The Ether" event in devcon.

#### Steps to reproduce
1. Clone repository https://github.com/status-im/dreddit-devcon
2. Follow the steps in https://github.com/status-im/dreddit-devcon/tree/start/instructions directory until the 6 step
3. O

[2018-11-01 19:48] lidel commented on #774
Thank you for bringing this to my attention!
The example was really old, I created PR to update it: https://github.com/ipfs/js-ipfs-api/pull/884

In short, for bigger files you don't want to create a Buffer (like [here](https://github.com/ipfs/js-ipfs-api/blob/017540632611217100f721d85bd793fe934faf25/examples/upload-file-via-browser/src/App.js#L30)),
instead you create a stream from it ([example](

[2018-11-02 14:04] PascalPrecht opened #1025 "Consider introducing reasonable alias for --simple option"
## Overview
Embark lets us create dapps in many different ways. One them is [using the `--simple` option](https://embark.status.im/docs/create_project.html#Creating-%E2%80%9Ccontracts-only%E2%80%9D-apps), which creates a dapp with scaffolds for contracts only (without a front-end code base).

I think we should reconsider the name of the option `--simple` and rather make it more descriptive as `--s

[2018-11-04 11:40] filips123 opened #1026 "Translate to Slovenian"
I want to translate Embark to Slovenian (sl_SI). Can I get bounty for this, like in  #760, #761 and #762?
Thank you!

[2018-11-04 18:56] perissology opened #1027 "blockchain errors w/ origin issue if whisper is disabled"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering.>

If whisper is disabled, embark fails to start the blockchain.

The following error is thrown:

`(node:10732) UnhandledPromiseRejectionWarning: Error: "value" required in setHeader("Origin", value)`

### Extra Detail

#### Steps to reproduce

1. create the demo
2. disable whisper
3. run `embark console` or `

[2018-11-04 19:14] perissology opened #1028 "WS connection dies on contract deploy"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering.>

I am attempting to migrate to embark and am running into an error after deploying the first of many contracts.

### Extra Detail

#### Steps to reproduce
1. clone https://github.com/Giveth/liquidpledging/tree/embark
2. `git checkout daaf651dcd86d571a9087aad406bb58db238b3af`
3. `npm i`
4. `embark console`
##

[2018-11-04 19:48] perissology opened #1029 "Feature Request: Support js functions for onDeploy & afterDeploy actions"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering.>

It would be great if the onDeploy and afterDeploy actions supported functions instead of only js strings that are eval'd.

[2018-11-05 08:46] jeluard opened #1030 "Feature Request"
## Overview

EIP1102 introduced a `enable` function. When called, this function triggers a permission flow that requires user intervention.
Embark calls this at JS load time, forcing users to make this choice directly even if not yet needed.

Ultimately embark should not call this API and let devs decide when it has to be called.

[2018-11-05 09:04] PascalPrecht commented on #1030
Thanks @jeluard for bringing this up. I believe this belongs into https://github.com/embark-framework/EmbarkJS though. We can leave this here for now to keep track of it and move it over if needed.

[2018-11-05 09:05] PascalPrecht commented on #1029
Thanks @perissology for raising this here. Leaving this here for context: https://gitter.im/embark-framework/Lobby?at=5bdf41385760a73eb43a8c5a

[2018-11-05 09:09] PascalPrecht commented on #1026
Hi @filips123 !

Thanks for reaching out here. I think we've decided not to do any bounties on translations anymore due to the quality of contributions we've received on that regard.

Looping in @iurimatias to confirm this. Otherwise, always feel free to go ahead and send a PR! :)

[2018-11-05 09:09] jeluard commented on #1030
Please feel free to move it wherever it suits best!

[2018-11-05 09:14] PascalPrecht commented on #1023
Hey @Eenae

thanks for clarifying this!

If by that you mean it doesn't come with its own executable so it can be run as `ethpm install <foo>` then introducing a subroutine that calls its APIs probably makes most sense. Other than that, we'd really just be dealing with `embark install <foo>` vs `ethpm install <foo>`, so I have to play devil's advocate here and ask how much sense it really makes to

[2018-11-05 09:33] filips123 commented on #1026
Ok. I will translate it next week because I am not available this week.

[2018-11-05 14:04] jrainville commented on #1025
I agree that we shouldn't remove `--simple` just now and that it is indeed not that intuitive.

We are talking for the `embark new` command right?

If so, maybe `--contracts-only` or `--contracts-app` would be good.

[2018-11-05 14:29] jrainville commented on #1023
Hi, just adding to the point of facilitating the import for zeppelin and others. We added the possibility to import from different sources easily to make it easy to use contarcts like those of zeppelin.

You can read more on it here: https://embark.status.im/docs/contracts_imports.html

eg:
[code]
Embark downloads it for you and resolves the imports (even if the other contract has other imports to

[2018-11-05 15:13] jrainville commented on #1024
Hi @Jonybang , I'm the embark dev that tried to help you during the workshop.

I just tested on my machine and I have the same problem, plus anther one. In my case, `0.0.0.0` is not good, I had to change it to `localhost` (I'm on Windows).

Can you try yourself? In `config/blockchain.js` change `rpcHost` to `localhost` and in `config/webserver.js`, change `host` to `localhost` too.

Please tell me

[2018-11-05 15:32] cryptomental commented on #942
Thank you a lot @gitcoinbot !

[2018-11-05 16:06] PascalPrecht commented on #328
Closing this one due to inactivity. Let us know if there's still anything unclear :)

[2018-11-05 16:06] #328 closed

[2018-11-05 16:09] PascalPrecht commented on #1025
Exactly.

[2018-11-05 16:46] santteegt commented on #937
Hi,

I there any updates on your decision to use `--vuejs` vs `--framework`, and the use of a different branch in `embar-vue-template` to include the demo vs include demo code within demo folder in embark's repo ? Let me know so I can update my PR accordingly.

[2018-11-05 17:01] jrainville commented on #937
On my part, I prefer `--framework`.

For the branch vs in the demo folder, I think the branch is better, but it would require to change the demo generator code in `embark`. Would you be down to do it? We already have similar code in `template_generator.js`. It uses embark's version to check if the template has a tag with the same version.  Would need to check for the demo branch as well as the tag

[2018-11-05 17:06] santteegt commented on #937
@jrainville I think it is already implemented in `template_generator`. I tested including the placeholder `#{branch}` to my git fork URL, and it pulled the code from the specified branch. You'll only need to create the new branch on your repo.

[2018-11-05 17:14] jrainville commented on #937
Ok, wasn't sure if template_generator was used for the demo generation too.
What would be nice is a way to detect if the demo is in `templates/demo`, otherwise, get it from `https://github.com/embark-framework/embark-${framework}-template`

[2018-11-05 17:33] michaelsbradleyjr commented on #937
I don't want to confuse the issues at play, but here are my suggestions:

`demo --template [name]` would provide symmetry with `new --template [name]`.

Branch resolution would work in this way (changes would need to be made in `template_generator`):

For `demo --template [name]`, if `[name]` is unqualified then expand it to `embark-framework/embark-[name]-template`, just as we do now for `new --t

[2018-11-05 18:02] jrainville commented on #1028
@perissology I just tested with your repo. I can reproduce the same problem.

I was able to get through it by switching the host from `ws` to `rpc` and the port to `8545` in `config/contracts.js`.

It's mostly a patch, as using WS is the way to go to have the full cockpit experience. I'll keep on looking for the real problem, but at least, that way, you'll be able to continue working.

[2018-11-05 19:38] jrainville commented on #1027
Bug fixed here: https://github.com/embark-framework/embark/pull/1031
We'll keep you posted as to when Embark 4 is updated.

[2018-11-05 19:54] perissology commented on #1028
thanks for the workaround!

[2018-11-06 05:00] santteegt commented on #937
Hi,

Thanks for your comments. I'm working on that. However, after merging the latest changes to my fork, I'm getting the following error when trying to run any dApp generated by either `embark new` or `embark demo`

[code]

The `ens` module cannot be found. I made a fresh `npm install` & `npm link`. What could be the problem ?

[2018-11-06 07:49] PascalPrecht commented on #937
@santteegt Yes, this is due `develop` being rebased in the meanwhile (we're very sorry for that).

The way forward would be to cherry-pick your commit in your PR on top of latest `develop` and take it from there.

I'm happy to do it for you, in case you need help with this!

[2018-11-06 07:50] PascalPrecht commented on #937
@iurimatias we need your final call here. Can we get green light on either `--template` or `--framework` for `embark demo` please?

[2018-11-06 13:06] Eenae commented on #1023
I'm not sure if it's a task of EthPM to manage `solc` paths. I think more high-level entity should manage it and set a standard.

Thanks! Personally I consider such an import as quite error-prone practice.

[2018-11-06 13:34] jrainville commented on #1023
If you prefer, you can `npm install` the package you want to use and import from node_modules like so:
[code]

[2018-11-06 21:05] santteegt commented on #937
hi @PascalPrecht,

Thanks for the advice. It seems that I could rebase the branch with `git fetch https://github.com/santteegt/embark.git develop && git cherry-pick 2be3cb9`, but can't push the changes. How can this be done?

On the other hand, when running the [embark-framework/embark-vue-template](https://github.com/embark-framework/embark-vue-template) I'm getting the following error:

<img wid

[2018-11-06 21:09] jrainville commented on #937
@santteegt We updated the file pipeline and webpack.config in Embark 4 (which is develop). That's why you see that error.
To test with develop, you'd need to re-eject the webpack config and re-apply your changes. Otherwise, you can test with master (or the globally deployed Embark 3.2)

[2018-11-06 22:13] perissology commented on #1028
@jrainville so I tried your suggestion, but I'm getting the following error:

[code]

Also, I assume you meant `type` is `rpc` not `host`?

[2018-11-06 22:29] santteegt commented on #937
Do the changes made on my PR for this repo and Vuejs template need to work with the latest version in branch develop, or with embark's latest release?

[2018-11-06 22:42] perissology commented on #1028
so if I run `embark blockchain` in another window, it will die after the first deployment w/ the same error, but Geth keeps running, so I need to manually kill that. However it spit out a bit more info, so adding it here:

[code]

[2018-11-06 22:58] jrainville commented on #1028
Oops, yeah I meant `type`.

For the other error, I didn't get that. Could be that I tested with Embark 3.2.3, but I'm pretty I tested both.

Could you try with 3.2.3? If you have the same issue, put `proxy` to false in config/blockchain.js. I'd tell you to do that in Embark 4, but it's broken. I just fixed it in https://github.com/embark-framework/embark/pull/1033

I'll keep looking for the actual

[2018-11-06 23:00] perissology opened #1037 "Feature Request: Only recompile contracts that have changed"
## Overview
**TL;DR**

To save time, it would be great if only contracts that have changed get recompiled. Currently each contract is compiled every time embark is run.

This can be done by hashing the contract file contents and comparing to the previous hash. And only compiling the contracts where the contract itself or a dependency has changed.

#### Steps to reproduce
run `embark console` multi

[2018-11-06 23:13] perissology commented on #1028
with 3.2.3, I get the following error:

[code]

However it seems to continue working & deploys the contracts.

[2018-11-06 23:20] jrainville commented on #1028
Seems like you are still using WS. However, if you say it still deploys, it may be better like this for now as with WS you have all the cockpit features.

[2018-11-06 23:28] perissology opened #1038 "Failed contract deploy uninformative error messages"
## Overview
**TL;DR**

The deploy is failing for some reason, but the error messages are a bit cryptic

### Extra Detail

It looks like it is failing on the an `estimate_gas` call by looking at the `embark simulator` logs. The problem is there are many contracts. I've set `deploy: false` for most of them, but I'm not sure if I've got them all.

#### Steps to reproduce
1. clone https://github.com/G

[2018-11-06 23:29] perissology commented on #1028
no, that was with the rpc changes you suggested earlier, not sure why it was attempting a ws connection.

anyways, still no luck w/ deploying :( https://github.com/embark-framework/embark/issues/1038

[2018-11-07 13:33] rachelhamlin commented on #1030
I moved it, to be safe :D
https://github.com/embark-framework/EmbarkJS/issues/26

[2018-11-07 14:54] michaelsbradleyjr commented on #937
One more thought on `--template` vs. `--framework`:  in addition to `--template` providing symmetry, it's also possible that any given template (not just "frameworks") might wish to provide both a minimal template as such, and a more full-featured demo of that template.

[2018-11-07 15:03] perissology commented on #1038
okay, I've determined that embark was attempting to deploy `TestSimpleProjectPlugin`, but the bug still remains in that embark never informed me of that this was the contract

[2018-11-07 17:21] StatusSceptre commented on #763
Thanks! Taking a look now.

[2018-11-07 17:32] PumpkingWok commented on #763
Hi @StatusSceptre,
it is the PR merged - > https://github.com/embark-framework/embark/pull/831
Thanks

[2018-11-07 17:33] StatusSceptre commented on #768
@andremedeiros or @iurimatias any update on this one for @lastmjs?

[2018-11-07 17:37] StatusSceptre commented on #766
Thanks for the update @vyomshm! Looks like things are progressing in #986 will get payment issued as soon as merging is complete!

[2018-11-07 17:42] StatusSceptre commented on #825
@mul1sh looks like @PascalPrecht is asking for feedback in #901 on if you need anymore help! Let us know if you're still working on this.

[2018-11-07 17:51] StatusSceptre commented on #763
Great thanks for all the hard work and meticulous cherrypicking! 💯

[2018-11-07 18:09] PumpkingWok commented on #763
Hi @StatusSceptre,
Thank you for all support you gave to me.I have just seen the bounty paid, and the kudos !!!
Thank again, have a nice day !!

[2018-11-07 23:02] michaelsbradleyjr opened #1048 "Proposal: split embark into embark and @embark/core"
## Overview
**TL;DR**

Module resolution in Embark is presently complex. If the bulk of Embark were contained in a locally installed `@embark/core` package, and if we make use of peer dependencies, the situation can be greatly improved. Later on, we might split up `core` into a collection of locally installed `@embark/[name]` packages, and that will work fine too.

### Extra Detail

#### Key ideas

[2018-11-08 00:31] michaelsbradleyjr commented on #1048
One thing not mentioned in the write-up above is that if a DApp were to specify a dependency that itself had a peer dependency incompatible with one of `@embark/core`'s peer dependencies, then something would have to give — either embark or the DApp or the DApp's dependency. I'm not sure how often that situation would arise, and we'd want the `embark` cli to be as helpful as possible identifying t

[2018-11-08 04:49] ryan-shea commented on #940
Hey @StevenJNPearce, how is this coming along? Wanted to check in 🛩 🌮

[2018-11-08 09:32] alaibe commented on #1048
Thx for making that great idea something we can all discuss formally about.
I would personally go even further via the following suggestion:

- Fully namespace the packages:
* @embark/cli
* @embark/scripts (more on this name later)

- @embark/cli only responsible to generate a app and is never use after that
Contains only `new` command with template generation

- @embark/scripts located in package

[2018-11-08 10:36] PascalPrecht commented on #1048
Really really nice to see this discussion here. Let me throw in my thoughts as well:

- I actually think that the whole package naming is a separate problem that needs to be solved and discussed, but it definitely affects the consumer facing API in this effort as well. Even though, we might want to discuss this in a separate thread, I believe we will and should end up with packages such as:

  - `

[2018-11-08 10:49] PascalPrecht commented on #1038
@perissology I'm looking into this now.

[2018-11-08 11:31] mul1sh commented on #825
@StatusSceptre sorry for the delay with this issue, i'll sort it in less than 24 hours. Thanks

[2018-11-08 13:07] Eenae commented on #1023
Sure, classic way.

[2018-11-08 13:18] PascalPrecht commented on #1038
Okay so here's a PR that adds the contract name to the error message that failed to deploy: https://github.com/embark-framework/embark/pull/1050

[2018-11-08 13:52] iurimatias commented on #768
@lastmjs can we chat on gitter?

[2018-11-08 16:03] gomesalexandre opened #1051 "Flow types"
Hey guys and congrats for Embark 3.2  👏
Following the discussion in-person and in-app with Eric during the Status Hackathon in Prague, I would like to contribute flow typings to Embark.
### Benefits

- Easier to refactor
- Easier for new contributors to get started with the codebase
- All the usual sweet stuff that comes with static typing i.e early errors catching, amazing intellisense, ability t

[2018-11-08 16:38] PascalPrecht commented on #1051
Hi @gomesalexandre

great to see you here and thanks for reaching out! It's funny that you come up with this as we're actually actively working on introducing Babel+TS to our codebase to move to TS in the long run.

You can follow the progress here: https://github.com/embark-framework/embark/pull/1049

Can you elaborate on how that is different from TS though? This sounds like exactly the same. On

[2018-11-08 17:15] gomesalexandre commented on #1051
@PascalPrecht oh that's cool ! Hadn't seen that one, I might contribute to it then :)

Well, it might look like a similar process but it is essentially really different. What `tsconfig` really does is telling the compiler what to do... Whereas with flow there is no compilation involved, you just strip the types, it's a much lighter approach. Full-featured superset vs. static type-checking.

It's o

[2018-11-08 22:38] jrainville commented on #1028
Do you have an error message or the particular contract that fails so we can test too?

[2018-11-08 22:39] jrainville commented on #1028
BTW, we just merged a PR that tells in the error message which contract failed along with the message.
It should get released in Embark4.alpha soon

[2018-11-08 22:39] perissology opened #1054 "targetGasLimit is ignored for `embark simulator`"
### Bug Report

#### Summary

`embark simulator` does not respect the `targetGasLimit` in `embark.json`

#### How to reproduce

1. set `targetGasLimit` in `blockchains.json`
2. run `embark simulator`

#### Please provide additional information about your system

**OS**:
**Embark Version**: master branch commit 5f9930762941d007aa1f8b8945d8c99aff19b505
**Node Version**:
**NPM Version**:

#### Someti

[2018-11-08 22:51] perissology commented on #1028
that PR doesn't always show the contract. Using embark commit b66ac70050f0dbf2451cceb7be8255e7a6d72694:

<img width="790" alt="screen shot 2018-11-08 at 2 45 12 pm" src="https://user-images.githubusercontent.com/30963004/48231976-fd421000-e364-11e8-83d6-a794eff689b7.png">

and if I specify gas for the deploy:

<img width="444" alt="screen shot 2018-11-08 at 2 45 05 pm" src="https://user-images.git

[2018-11-08 22:54] perissology commented on #1028
Use https://github.com/Giveth/liquidpledging/commit/fbb61b4bdeaa6627a5b90cda8408157f1b775f74

It will fail. If you comment out `LiquidPledgingMock` in contracts it will succeed.

If you change to rpc, `LiquidPledgingMock` will throw an error, but still deploy. Then changing back to ws will work b/c the contract has been deployed.

[2018-11-08 23:19] perissology commented on #1028
looks like it may be a web3 bug. It's failing at https://github.com/embark-framework/embark/blob/master/lib/modules/blockchain_connector/index.js#L627

the `catch` or `then` is not getting triggered

[2018-11-09 08:59] #766 closed

[2018-11-09 10:34] iurimatias commented on #1048
I don't really agree with this. It feels premature given other stuff we still need to do, overcomplicates things possibly (although I might be misunderstanding..), but more importantly in the grand scheme of things we have other priorities first.

[2018-11-09 13:50] michaelsbradleyjr commented on #1048
I can provide a more thorough reply to all the points raised later today.

To @iurimatias's point, here's the problem:

The cli shim that's landing in embark v4 is supposed to make it painless to have embark installed locally or globally, or both, and have everything always work regardless of a DApp author's preferred setup.

The shim does work well, when it comes to embark commands. It's only rec

[2018-11-09 15:28] #1038 closed

[2018-11-09 15:34] jrainville commented on #1054
Fixed here: https://github.com/embark-framework/embark/pull/1062

[2018-11-09 16:51] perissology opened #1063 "using rpc in contracts.js w/ blockchain proxy = true throws error"
### Bug Report

#### Summary

Things seem to work, but an error is emitted during deployment.

#### Current behavior

<img width="1068" alt="screen shot 2018-11-09 at 8 48 59 am" src="https://user-images.githubusercontent.com/30963004/48276208-514c0380-e3fc-11e8-80fe-60354a65f11e.png">

#### How to reproduce

run `embark console` with the following config:

`contracts.js`:

[code]

`blockchains.js